article.single-post
	.post-section
		.range.range-30
			.cell-lg-7
				ul.group.group-sm.post-meta-inline
					li.list-item
						.icon.mdi.mdi-tag
						a(href="#").post-tag News
					li.list-item
						.icon.mdi.mdi-comment
						a(href="#") 2 Comments
					li.list-item
						.icon.mdi.mdi-account
						a(href="#") David Baker
			.cell-lg-5.text-lg-right
				.post-date June 15, 2018 at 2:45 pm
		p.post-title-text Lorem ipsum dolor sit amet. Quasi, voluptatibus earum porro iste illum. Esse saepe delectus neque iste fugit, non, aliquid impedit odio eligendi alias a ab molestias molestiae accusantium maxime minima id quis illo, repellendus est. Atque provident assumenda officia nemo animi dolore minima eum expedita. Neque vitae soluta illo eligendi, amet a eos ipsa harum doloremque alias.
		p Quasi, voluptatibus earum porro iste illum. Neque vitae soluta illo eligendi, Atque provident assumenda officia nemo animi dolore minima eum expedita. Lorem ipsum dolor sit amet. Quasi, voluptatibus earum porro iste illum. Esse saepe delectus neque iste fugit, non, aliquid impedit odio eligendi alias a ab molestias molestiae accusantium maxime minima id quis illo, repellendus est. Atque provident assumenda officia nemo animi dolore minima eum expedita. Neque vitae soluta illo eligendi, amet a eos ipsa harum doloremque alias.
		+jpg("single-post-1-870x565")
		p Voluptatum deserunt fugiat porro quisquam voluptatibus reprehenderit ducimus voluptate eligendi repellendus dolore, harum aliquid quia eveniet quas, mollitia molestiae officia, dolorem distinctio adipisci quos non neque repudiandae. Qui sit, eum. Sint aut, nam quia aliquid saepe excepturi esse explicabo, tenetur perspiciatis praesentium, sed eius, soluta commodi ipsa nesciunt officiis. Eligendi, iure, dolore.
		+jpg("single-post-2-870x565")
		p Eum dolorum, voluptas soluta voluptatibus et inventore molestias veritatis, minima eveniet asperiores iste distinctio sint. Error asperiores similique repudiandae, consectetur quidem labore esse laudantium fugit magni recusandae aut quas accusamus! Harum laudantium itaque numquam sit eveniet ea corporis, quasi quo iure beatae nobis dicta aliquam molestias earum omnis, non atque a sunt voluptatem, similique recusandae iste dolores. Earum unde, minima.
	
	.post-section
		h5 Posted by
		.divider.divider-5
		.post-author.unit.unit-spacing-md.unit-sm-horizontal
			.unit-left
				+jpg("single-post-author-170x170")
			.unit-body
				h5: a(href="#") David Baker
				p Incidunt porro, nam velit nihil laborum, nostrum quod et delectus, ratione natus tenetur harum nesciunt laboriosam nulla quam, quos sequi dolore unde. Vel tempora, nisi blanditiis fuga placeat cupiditate, quos. Cumque autem placeat numquam officia aut molestias explicabo dolore sed aliquid.
				ul.list-inline-2
					li: a.icon.icon-xs.icon-hover-gray.fa-facebook(href="#")
					li: a.icon.icon-xs.icon-hover-gray.fa-google(href="#")
					li: a.icon.icon-xs.icon-hover-gray.fa-twitter(href="#")
					li: a.icon.icon-xs.icon-hover-gray.fa-linkedin(href="#")
					li: a.icon.icon-xs.icon-hover-gray.fa-instagram(href="#")
	.post-section
		h5 Comments
		.divider.divider-5
		ul.comment-list
			li
				+comment({
					"imgName": "box-comment-1-80x80",
					"authorName": "Julia Rice",
					"link": "#",
					"date": "Feb, 22 2018 at 4:55 pm",
					"comment": "In placeat inventore quidem eum nulla dolores fugiat hic omnis deserunt fuga, reprehenderit autem qui aut, est ab, nisi ea consequatur soluta veritatis"
				})
				
				ul.comment-list-reply
					li
						+comment({
							"imgName": "box-comment-2-80x80",
							"authorName": "David Baker",
							"replyAuthor": "Julia Rice",
							"link": "#",
							"date": "Feb, 22 2018 at 4:55 pm",
							"comment": "Odio quos nostrum quis eligendi corrupti iste porro. Deleniti possimus perspiciatis, sunt expedita enim, veniam mollitia nemo explicabo commodi! Ad dolorem consequuntur"
						})
	.post-section
		h5 Send a Comment
		.divider.divider-5
		// RD Mailform
		form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
			.range.range-xs-center.range-19
				.cell-sm-6
					.form-wrap.form-wrap-validation
						label.form-label.form-label-outside(for="forms-name") Nickname
						input#forms-name.form-input(type="text" name="name" data-constraints='@Required')
				.cell-sm-6
					.form-wrap.form-wrap-validation
						label.form-label.form-label-outside(for="forms-email") E-mail
						input#forms-email.form-input(type="email" name="email" data-constraints="@Email @Required")
				.cell-sm-12
					.form-wrap.form-wrap-validation
						label.form-label.form-label-outside(for="forms-message") Message
						textarea#forms-message.form-input(name="message" data-constraints="@Required")
			.form-button
				button(type="submit").button.button-primary: span Submit