doctype html
html(lang='en')
	head
		title Fibazi
		// Meta tag Keywords
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='UTF-8')
		meta(name='keywords', content='taped login form Widget a Flat Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements')
		script(type='application/x-javascript').
			addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){ window.scrollTo(0,1); }
		// Meta tag Keywords
		link(rel='stylesheet', href='css/login/style.css', type='text/css', media='all')
		// Style-CSS
		link(rel='stylesheet', href='css/login/font-awesome.css', type='text/css', media='all')
		link(href='//fonts.googleapis.com/css?family=Snippet', rel='stylesheet')
		link(href='//fonts.googleapis.com/css?family=Barlow', rel='stylesheet')
		link(href='//fonts.googleapis.com/css?family=Titillium+Web', rel='stylesheet')
	body(data-vide-bg='video/ship')
		section.login-maintop
			.login-main
				header
					h1 Fibazi
				.login-form
					h2 login now
					form(action='/login', method='POST')
						span
							i.fa.fa-user-o(aria-hidden='true')
						input(type='text', name='email', placeholder='enter your email', required='')
						span
							i.fa.fa-unlock-alt(aria-hidden='true')
						input(type='password', name='password', placeholder='enter your password', required='')
						input(type='submit', value='login')
					.login-password
						span
							a(href='#') forgot password
					.login-input
					.social-icons
						ul
							li
								a(href='#')
									i.fa.fa-facebook(aria-hidden='true')
							li
								a(href='#')
									i.fa.fa-twitter(aria-hidden='true')
							li
								a(href='#')
									i.fa.fa-google-plus(aria-hidden='true')
				// footer
				.footer
					p
						| © 2018 Taped Login Form. All rights reserved | Design by 
						a(href='/') FIBAZI
				// //footer
		script(type='text/javascript', src='js/login/jquery-2.1.4.min.js')
		script(src='js/login/jquery.vide.min.js')
