<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>503</title>
    <% include ../head/head.html %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <section class="section one-screen-page bg-construct-image-1 context-dark">
        <div class="one-screen-page-inner">
          <!-- Page Header-->
          <header class="section page-header">
            <div class="rd-navbar-brand brand"><a class="brand-logo" href="index.html"><img src="images/brand-inverse-204x36.png" alt="" width="204" height="36"/></a></div>
          </header>

          <!-- Page Content-->
          <section class="section page-content">
            <div class="shell">
              <div class="range range-xs-center">
                <div class="cell-sm-10">
                  <p class="text-extra-large page-title">503</p>
                  <div class="divider divider-2"></div>
                  <h1 class="page-subtitle">Tienes errores en el sistema verifica los campos obligatorios</h1>
                  <div class="group-button-xl"><a class="button button-primary" href="/solicitud">Inicia tu Solicitud</a><a class="button button-white-outline button-white-outline-border" href="/">Inicio</a></div>
                </div>
              </div>
            </div>
          </section>

          <!-- Page Footer-->
          <footer class="section page-footer text-center">
            <p class="copyright">Real Estate <span class="copyright-year"></span> &#169; All Rights Reserved <a class="link" href="privacy-policy.html">Terms of Use</a> and <a class="link" href="privacy-policy.html">Privacy Policy</a>
            </p>
          </footer>
        </div>
      </section>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>