<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
   <title>Quienes Somos</title>
   <% include ../head/head %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <% include ../headers/header%>
      </header>

      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Overview &amp; History</h5>
                <h1 class="title">Quienes Somos</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="/">Inicio</a></li>
              <li>Quienes Somos
              </li>
            </ol>
          </div>
        </div>
      </section>

      <!--About Us-->
      <section class="section bg-white">
        <div class="range range-xs-center">
          <div class="cell-sm-10 cell-lg-7">
            <div class="section-lg">
              <div class="shell-fluid">
                <div class="range range-xs-center">
                  <div class="cell-sm-10 cell-xl-8">
                    <h2>Quienes Somos</h2>
                    <div class="divider divider-2"></div>
                    <p>El Fideicomiso Bahía de Zihuatanejo, es un Fideicomiso Público del Gobierno del Estado de Guerrero, con personalidad jurídica y patrimonio propio; tiene como finalidad, dotar de infraestructura urbana, lotificación y fraccionamiento de terrenos fideicomitidos, así como efectuar la venta de lotes urbanizados para el desarrollo turístico e interés social. La administración de este Organismo, está a cargo de un Comité Técnico y de un Director General, conforme a lo establecido en el artículo 12 de la Ley Número 690 de Entidades Paraestatales del Estado de Guerrero.</p>
                    <div class="progress-linear progress-secondary">
                        
                      </div><a class="button button-primary" href="#">Learn more</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-10 cell-lg-5 cell-image">
            <div class="cell-image-wrap"><img src="images/about-us-1-800x917.jpg" alt="" width="800" height="917"/>
            </div>
          </div>
        </div>
      </section>
      <br><br>
      <!--Advantages-->
      <section class="section section-lg bg-white">
        <div class="shell-wide">
          <div class="range range-xs-center range-30 text-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Descubre que es Fibazi!</h2>
              <div class="divider divider-2"></div>
            </div>
          </div>
          <div class="range range-30 range-xs-center range-flex">
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-certificate"></div>
                <h4 class="blurb-title">Objetivos Institucionales</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">Realizar la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos para elevar el nivel de bienestar de los habitantes de Zihuatanejo y cumplir con las finalidades encomendadas en el contrato del Fideicomiso; recuperando permanentemente la cartera crediticia derivada de las operaciones de compraventa e implantando herramientas administrativas como la planeación estratégica, mejora continua y tecnologías de vanguardia.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-certificate"></div>
                <h4 class="blurb-title">Decretos</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">Decreto del 29 de noviembre 1972 expedido por el Ejecutivo Federal publicados en el Diario Oficial del 1 y 2 de febrero de 1973. Decreto del Ejecutivo Federal publicado en el Diario Oficial de la Federación del 29 de abril de 1992. Decreto por el que se aprueba El Plan Nacional de Desarrollo 2007-2012. Fecha de publicación en el D.O.F. del 31-05-2007. Decreto Número 981 de Presupuesto de Egresos del Estado de Guerrero para el Ejercicio Fiscal 2012. </p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-certificate"></div>
                <h4 class="blurb-title">Convenios</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">Convenio Modificatorio del Contrato de Fideicomiso del 20 de abril de 1976. Convenio Modificatorio de la Cláusula Sexta del Contrato de Fideicomiso. 20 de Abril de 1976</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer %>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>