<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
   <title>Quienes Somos</title>
   <% include ../head/head %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <% include ../headers/header%>
      </header>

      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Conoce nuestra labor</h5>
                <h1 class="title">Misión y Visión</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="/">Inicio</a></li>
              <li>Misión y Visión </li>
            </ol>
          </div>
        </div>
      </section>

      <!--About Us-->
      <section class="section section-lg bg-white">
        <div class="shell-wide text-center">
          <div class="range range-xs-center range-30">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Misión</h2>
              <div class="divider divider-2"></div>
          <div class="range range-xs-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-12">
              <p>El Fideicomiso Bahía de Zihuatanejo es un Fideicomiso Público del Gobierno del Estado de Guerrero, que le corresponde, llevar a cabo la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos, así como efectuar la venta de los lotes y fraccionamientos, buscando satisfacer los requerimientos de la población e inversionistas. Así mismo, contribuir al desarrollo de proyectos turísticos sustentables que detonen el crecimiento de Zihuatanejo de Azueta; promoviendo la inversión, dando las facilidades de financiamiento para que la población y desarrolladores turísticos inviertan en el FIBAZI.</p>
            </div>
          </div>
          <div></div>
            </div>
          </div>
        </div>
      </section>

       <section class="section section-lg bg-white">
        <div class="shell-wide text-center">
          <div class="range range-xs-center range-30">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Visión</h2>
              <div class="divider divider-2"></div>
          <div class="range range-xs-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-12">
              <p>Ser un Organismo que mejore continuamente su desempeño y eficacia, diseñando estrategias innovadoras, encaminadas a operar con tecnología de vanguardia; satisfaciendo los requerimientos de infraestructura urbana sustentable en los terrenos fideicomitidos. Con base en el compromiso, disponibilidad y responsabilidad, el fideicomiso habrá cumplido con la finalidad de su creación.</p>
            </div>
          </div>
          <div></div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-demo bg-gray-lighter">
        <div class="shell shell-fluid">
          <h2>Objetivos Y Metas Iniciales</h2>
          <div class="divider divider-2"></div>
          <p>El Contrato de Fideicomiso que venimos analizando le fija a NAFINSA los siguientes Fines</p>
          <div class="range range-30 text-center text-lg-left">
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">1</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Urbanizar , Lotificar y fraccionar los terrenos fideicomitidos.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">2</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Obtener financiamientos destinados a incrementar o mejorar los inmuebles de su patrimonio.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">3</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Amortizar los créditos que se obtuvieran y que se necesitaran, para el pago de las indemnizaciones a los ejidatarios afectados por la expropiación y el dinero que se les entrego como anticipo de utilidades.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">4</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Vender o arrendar los lotes urbanizados y as construcciones que se realizaran sobre ellos.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">5</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Formar empresas turificas y negocios conexos en los terrenos fideicomisitos, realizando en ellos las construcciones que estimara necesarias.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">6</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Entregar a cada uno de los ejidatarios, con derecho a ello, los dos lotes tipo urbanizados, en la zona habitacional que resulte de la lotificación y urbanización de los terrenos fideicomitidos.</p>
                </div>
              </div>
            </div>
            <div class="cell-sm-4 text-center text-md-left">
              <div class="blurb-left unit unit-spacing-sm unit-md-horizontal">
                <div class="unit-left">
                  <div class="icon icon-primary mdi mdi-certificate"></div>
                </div>
                <div class="unit-body">
                  <h4 class="blurb-title">7</h4>
                  <div class="divider divider-1"></div>
                  <p class="blurb-content">Poner a disposición del FONAFE y de los ejidatarios afectados, las utilidades netas que obtengan por le fraccionamiento y urbanización de los terrenos expropiados, según les corresponda, de conformidad a los expresados con anterioridad.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>



      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer %>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>