<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Crear Roles</title>
    <% include ../head/head.html%>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header"></header>
      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Roles</h5>
                <h1 class="title">Crea Roles</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="./">Inicio</a></li>
              <li><a href="/user">Crear usuarios</a></li>
              <li><a href="/logout">Salir</a></li>
            </ol>
          </div>
        </div>
      </section>
      <!-- Login form-->
      <section class="section section-lg bg-white">
        <div class="shell shell-wide">
          <div class="range range-40 range-center">
            <div class="cell-sm-10 cell-md-8 cell-lg-7 cell-xl-6 cell-xl-preffix-1">
              <h2>Crea tu role con sus permisos</h2>
              <%if(locals.error){%>
                <div class="alert alert-danger">
                  <strong>Error!</strong> Por favor rellena los campos marcados.
                </div>
              <%}else if(locals.success){%>
                <div class="alert alert-success">
                   <strong>Guardado!</strong> El role ha sido creado correctamente.
                </div>
              <%}%>
              <p>Esta seccion es solo para administradores.</p>
              <!-- RD Mailform-->
              <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="forms" method="POST" action="/role">
                <div class="form-wrap form-wrap-validation">
                  <label class="form-label form-label-outside" for="forms-name-1">Nombre del rol</label>
                  <input class="form-input" id="forms-name-1" type="text" name="nombre" data-constraints="@Required">
                </div>
                <div class="form-wrap form-wrap-validation">
                  <label class="form-label form-label-outside" for="forms-name-1">Nivel</label>
                  <select class="selectpicker" data-live-search="false" name="level" multiple>
                    <% level.forEach(function(lev){%>
                      <option value="<%=lev._id%>"><%=lev.nombre%></option>
                    <%})%>
                  </select>
                </div>
                <div class="form-button">
                  <button class="button button-block button-primary" type="submit">Crear role</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer>
       <% include ../footer/footer.html %>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <% include ../head/javascript.html%>
  </body>
</html>