<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Departamentos</title>
    <% include ../head/head.html%>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header"></header>
      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Departamentos</h5>
                <h1 class="title">Departamentos</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="./">Inicio</a></li>
             <li>Departamentos</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- Privacy Policy-->
      <section class="section section-lg text-md-left">
        <div class="shell">
          <div class="range range-xs-center">
            <div class="cell-sm-12 cell-lg-9">
              <!-- Terms-list-->
              <dl class="list-terms list-terms-1">
                <dt class="heading-4">Departamento de Proyectos</dt>
                <dd>
                  Planear, organizar y coordinar las acciones encaminadas a desarrollar los proyectos de urbanización, lotificación de fraccionamientos y ejecución de obras  de  infraestructura  urbana, estableciendo los controles que aseguren el cumplimiento del proceso de construcción de obras de acuerdo con la normatividad vigente.
                </dd>
                <br>
                <ul>
                    <li>Oficina de Topografía y Digitalización</li>
                    <li>Oficina de Diseño de Proyectos Urbanos</li>
                    <li>Unidad de Programación y Presupuestos</li>
                    <li>Unidad de Construcción de Obras</li>
                </ul>
                <br>
                <dt class="heading-4">Departamento de Patrimonio Inmobiliario</dt>
                <dd>
                  Mantener el control y vigilancia del polígono, así como de la circunscripción de los terrenos y bienes del patrimonio fideicomitido para garantizar la seguridad del patrimonio del FIBAZI.
                </dd>
                <br>
                <ul>
                  <li>Unidad de Apoyo Técnico</li>
                </ul>
                <br>
                <dt class="heading-4">Departamento de Comercialización y Ventas</dt>
                <dd>
                  Definir y aplicar estrategias para la venta de los lotes del  patrimonio  inmobiliario  que contribuyan al ingreso de recursos financieros del fideicomiso.
                </dd>
                <br>
                <ul>
                  <li>Unidad de Promoción y Ventas</li>
                </ul>
                <br>
                <dt class="heading-4">Departamento de Jurídico</dt>
                <dd>
                 Representar legalmente en pleitos y cobranzas al Fideicomiso, interviniendo en toda clase de procedimientos y juicios en los que el FIBAZI sea parte, a fin de salvaguardar el patrimonio fideicomitido.
                </dd>
                <br>
                <ul>
                  <li>Oficina de Procesos Jurídico</li>
                  <li>Oficina de Recuperación de Cartera Vencida</li>
                </ul>
                <br>
                <dt class="heading-4">Departamento de Administración y Finanzas</dt>
                <dd>
                  Contribuir al desarrollo institucional, apoyando administrativamente a las diversas Oficinas de la organización mediante la planeación, integración, regulación, gestión y control de los recursos financieros, humanos, materiales e informáticos, en aras de mejorar continuamente la calidad de los servicios y la productividad.
                </dd>
                <br>
                <ul>
                  <li>Oficina de Planeación</li>
                  <li>Oficina de Recursos Humanos</li>
                  <li>Oficina de Contabilidad</li>
                  <li>Oficina de Recursos Materiales y Servicios Generales</li>
                  <li>Oficina de Informática</li>
                </ul>
                <dt></dt>
              </dl>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer.html%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
    <!-- Coded by kraken-->
  </body>
</html>