<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Fibazi</title>
    <%include ../head/head.html %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
       <%include ../headers/header.html%>
      </header>

      <!--Jumbotron-->
      <section class="section">
        <div class="owl-carousel" data-autoplay="true" data-items="1" data-dots="false" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false">
          <div class="owl-item">
            <img src="images/bg-image-1.jpg" alt=""/>
          </div>
          <div class="owl-item">
            <img src="images/paraxllas.jpg" alt=""/>
          </div><div class="owl-item">
            <img src="images/bg-image-1.jpg" alt=""/>
          </div>
        </div>
      </section>

      <section class="section section-lg">
        <div class="range range-xs-center">
          <div class="cell-sm-8 cell-lg-6">
            <div class="section-lg">
              <div class="shell-fluid">
                <div class="range range-xs-center">
                  <div class="cell-sm-10 cell-xl-8">
                    <h2>¿Quiénes Somos?</h2>
                    <div class="divider divider-2"></div>
                    <p>El Fideicomiso Bahía de Zihuatanejo es un Fideicomiso Público del Gobierno del Estado de Guerrero, que le corresponde, llevar a cabo la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos, así como efectuar la venta de los lotes y fraccionamientos, buscando satisfacer los requerimientos de la población e inversionistas. Así mismo, contribuir al desarrollo de proyectos turísticos sustentables que detonen el crecimiento  de Zihuatanejo de Azueta; promoviendo la inversión, dando las facilidades de financiamiento para que la población y desarrolladores turísticos inviertan en el FIBAZI.</p><a class="button button-primary" href="/about">Más información</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-4 cell-lg-6 cell-vertical-align"><img src="images/quienes-somos.jpg" alt=""></div>
        </div>
      </section>
      <!-- Parallax section
      <section class="section parallax-container" data-parallax-img="images/paraxllas.jpg">
        <div class="parallax-content section-lg context-dark">
          <div class="shell-wide">
            <div class="range range-xs-center range-xs-middle range-30">
              <div class="cell-sm-10 cell-lg-6">
                <h2>Te ofrecemos <span class="text-bold">lo que necesitas</span></h2>
                <h4>Comunicate con nosotros <span class="text-bold">Totalmente gratis</span> a <a href="tel:#">(755) 554 21 17 EXT. 101</a></h4>
              </div>
              <div class="cell-sm-10 cell-lg-2 text-lg-right"><a class="button button-lg button-white-outline button-white-outline-border" href="/contact">Contactanos</a></div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- Noticias-->
      <section class="section section-lg bg-gray-lighter">
        <div class="shell-wide text-center">
          <div class="range range-xs-center range-30">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Noticias Fibazi</h2>
              <div class="divider divider-2"></div>
            </div>
          </div>
          <div class="range range-xs-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-8">
              <!-- Owl Carousel-->
              <div class="owl-carousel owl-carousel-1" data-autoplay="true" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="false">
                <% noticias.forEach(function(noticia){%>
                   <div class="owl-item">
                      <h4 class="post-title"><%=noticia.titulo%></h4>
                      <blockquote class="quote quote-default quote-big">
                        <div class="quote-body">
                          <q><%=noticia.sipnosis%></q>
                        </div>
                        <br>
                        <div class="media-wrapper"><img src="images/<%=noticia.imagen%>" alt="" width="570" height="370"/></div>
                        <div class="author"></div>
                        <div class="post-date"><%=noticia.fecha%></div>  
                      </blockquote>
                    </div> 
                <%})%>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Noticias
      <section class="section section-lg bg-white">
        <div class="shell-wide">
          <div class="range range-xs-center range-30 text-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Noticias Fibazi</h2>
              <div class="divider divider-2"></div>
            </div>
          </div>
          <br>
          <div class="owl-carousel owl-carousel-1" data-autoplay="true" data-items="1" data-dots="true" data-nav="true" data-stage-padding="0"data-loop="true" data-margin="0" data-mouse-drag="false">
            <% noticias.forEach(function(noticia){%>
              <div class="owl-item"">
                <div class="range range-xs-center range-50 range-lg-60">
                  <div class="cell-sm-6 cell-lg-4">
                    <article class="post-classic post-small">
                      <div class="media-wrapper"><a href="blog-post.html"><img src="images/<%=noticia.imagen%>" alt="" width="570" height="370"/></a></div>
                      <div class="content">
                        <h4 class="post-title"><a href="blog-post.html"><%=noticia.titulo%></a></h4>
                        <div class="post-date"><%=noticia.fecha%></div>
                        <p class="post-exeption"><%=noticia.sipnosis%></p>
                      </div>
                    </article>
                  </div>
                  <div class="cell-sm-12 text-center"><a class="button button-primary" href="classic-blog.html">view all blog posts</a></div>
                </div>
              </div>
            <%})%>
             <div class="owl-item"">
              <div class="range range-xs-center range-50 range-lg-60">
                <div class="cell-sm-6 cell-lg-4">
                  <article class="post-classic post-small">
                    <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-1-570x370.jpg" alt="" width="570" height="370"/></a></div>
                    <ul class="group group-sm post-meta-inline">
                      <li class="list-item">
                        <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-comment"></div><a href="blog-post.html">2 comments</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                      </li>
                    </ul>
                    <div class="content">
                      <h4 class="post-title"><a href="blog-post.html">Real Estate Guide: 7 Important Tips for Buying a Home</a></h4>
                      <div class="post-date">June 17, 2018 at 2:45 pm</div>
                      <p class="post-exeption">Buying a home can feel overwhelming and stressful, especially when sorting through pages of potential property listings, and prospective buyers may feel bogged down in questions about the home-buying process. Whether...</p>
                    </div>
                  </article>
                </div>
                <div class="cell-sm-6 cell-lg-4">
                  <article class="post-classic post-small">
                    <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-2-570x370.jpg" alt="" width="570" height="370"/></a></div>
                    <ul class="group group-sm post-meta-inline">
                      <li class="list-item">
                        <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-comment"></div><a href="blog-post.html">12 comments</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                      </li>
                    </ul>
                    <div class="content">
                      <h4 class="post-title"><a href="blog-post.html">Single-Family Homes as a Housing Option</a></h4>
                      <div class="post-date">February 15, 2018 at 2:45 pm</div>
                      <p class="post-exeption">When it comes time to make your first real estate purchase, does it seem like a single family home would work better for your particular needs and lifestyle? What about the decision to buy or rent? It’s a hard question to...</p>
                    </div>
                  </article>
                </div>
                <div class="cell-sm-6 cell-lg-4">
                  <article class="post-classic post-small">
                    <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-3-570x370.jpg" alt="" width="570" height="370"/></a></div>
                    <ul class="group group-sm post-meta-inline">
                      <li class="list-item">
                        <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-comment"></div><a href="blog-post.html">12 comments</a>
                      </li>
                      <li class="list-item">
                        <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                      </li>
                    </ul>
                    <div class="content">
                      <h4 class="post-title"><a href="blog-post.html">Home Seller’s To-Do Checklist</a></h4>
                      <div class="post-date">February 15, 2018 at 2:45 pm</div>
                      <p class="post-exeption">Selling a home can be stressful for everyone involved. As real estate professionals, we typically forget that our clients have no idea what they are doing when they are preparing their home to sell. We assume they know...</p>
                    </div>
                  </article>
                </div>
                <div class="cell-sm-12 text-center"><a class="button button-primary" href="classic-blog.html">view all blog posts</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>-->
      <!-- Parallax section-->
      <section class="section parallax-container" data-parallax-img="images/paraxllas2.jpg">
        <div class="parallax-content section-xl context-dark">
          <div class="shell-wide">
            <div class="range">
              <div class="cell-sm-12 cell-lg-5 cell-lg-preffix-2">
                <h2>¿Sigues con <span class="text-bold">Dudas?</span></h2>
                <h4>Siéntete libre de conocernos, y comunicate con nosotros</h4>
                <div class="divider divider-3"></div>
                <a class="button button-primary" href="/contact">Mas Información</a>
              </div>
            </div>
          </div>
        </div>
      </section>
     
      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer.html%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>