<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Fibazi</title>
    <%include ../head/head.html %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
       <%include ../headers/header.html%>
      </header>

      <!--Jumbotron-->
      <section class="section section-lg section-custom bg-image bg-image-1">
        <%include ../sections/Jumbotron.html%>
      </section>

      <!-- About Us-->
      <section class="section">
        <div class="range range-xs-center">
          <div class="cell-sm-8 cell-lg-6">
            <div class="section-lg">
              <div class="shell-fluid">
                <div class="range range-xs-center">
                  <div class="cell-sm-10 cell-xl-8">
                    <h2>Quienes somos</h2>
                    <div class="divider divider-2"></div>
                    <p>El Fideicomiso Bahía de Zihuatanejo es un Fideicomiso Público del Gobierno del Estado de Guerrero, que le corresponde, llevar a cabo la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos, así como efectuar la venta de los lotes y fraccionamientos, buscando satisfacer los requerimientos de la población e inversionistas. Así mismo, contribuir al desarrollo de proyectos turísticos sustentables que detonen el crecimiento  de Zihuatanejo de Azueta; promoviendo la inversión, dando las facilidades de financiamiento para que la población y desarrolladores turísticos inviertan en el FIBAZI.</p><a class="button button-primary" href="/about">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-4 cell-lg-6 cell-vertical-align"><img src="images/quienes-somos.jpg" alt=""></div>
        </div>
      </section>

       <!--Products-->
      <section class="section section-lg bg-gray-lighter">
        <div class="shell-wide">
          <div class="range range-40 range-xs-center">
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-key-variant">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Find Your Property</h5>
                <p class="blurb-content">With lots of daily updated listings and properties, you can be sure to find the house of your dream in no time.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-sofa">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">View Apartments</h5>
                <p class="blurb-content">Real Estate has a wide range of apartments available for rent &amp; purchase throughout the USA, from budget to luxury ones.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-map-marker-multiple">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Various Locations</h5>
                <p class="blurb-content">Feel free to pick your future property using our location-based search, which also provides full information on each property.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-calculator">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Finance Calculator</h5>
                <p class="blurb-content">Not sure how much you can spend on a certain house? Don’t worry &amp; use our finance calculator to check your spendings!</p>
              </div>
            </div>
          </div>
        </div>
      </section>
       
      <!-- Parallax section-->
      <section class="section parallax-container" data-parallax-img="images/paraxllas.jpg">
        <div class="parallax-content section-lg context-dark">
          <div class="shell-wide">
            <div class="range range-xs-center range-xs-middle range-30">
              <div class="cell-sm-10 cell-lg-6">
                <h2>Te ofrecemos <span class="text-bold">lo que necesitas</span></h2>
                <h4>Comunicate con nosotros <span class="text-bold">Totalmente gratis</span> a <a href="tel:#">(755) 554 21 17 ETX. 101</a></h4>
              </div>
              <div class="cell-sm-10 cell-lg-2 text-lg-right"><a class="button button-lg button-white-outline button-white-outline-border" href="/contact">Contactanos</a></div>
            </div>
          </div>
        </div>
      </section>
      <!--Advantages-->
      <section class="section section-lg bg-white">
        <div class="shell-wide">
          <div class="range range-xs-center range-30 text-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Advantages</h2>
              <div class="divider divider-2"></div>
            </div>
          </div>
          <div class="range range-30 range-xs-center range-flex">
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-account-multiple"></div>
                <h4 class="blurb-title">Real Estate Careers</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">We can give you an opportunity to start and develop your career in real estate business even if you have little or no experience in this sphere.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-city"></div>
                <h4 class="blurb-title">Special Offers</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">Our agency has special offers available daily to all our clients at affordable prices. We also provide amazing discounts for some of our properties.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <div class="blurb-boxed">
                <div class="icon icon-primary mdi mdi-certificate"></div>
                <h4 class="blurb-title">Stainless Reputation</h4>
                <div class="divider divider-1"></div>
                <p class="blurb-content">People trust us because of our perfect reputation and a great level of customer care and services we offer our clients in all states of the US.</p>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <!-- Parallax section-->
      <section class="section parallax-container" data-parallax-img="images/paraxllas2.jpg">
        <div class="parallax-content section-xl context-dark">
          <div class="shell-wide">
            <div class="range">
              <div class="cell-sm-12 cell-lg-5 cell-lg-preffix-2">
                <h2>Still Have <span class="text-bold">Questions?</span></h2>
                <h4>Feel Free to Contact Our Agents Directly</h4>
                <div class="divider divider-3"></div>
                <p>Our hand-selected agents are the best and brightest in the industry. With an average of more than ten years of experience, they are passionate about real estate. In each of our offices across the USA,  you are sure to find an agent who will help you find the dream property.</p><a class="button button-primary" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>
     

      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer.html%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>