<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Fibazi</title>
    <%include ../head/head.html %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
       <%include ../headers/header.html%>
      </header>

      <!--Jumbotron-->
      <section class="section section-lg section-custom bg-image bg-image-1">
        <%include ../sections/Jumbotron.html%>
      </section>

      <!--Products-->
      <section class="section section-lg bg-gray-lighter">
        <div class="shell-wide">
          <div class="range range-40 range-xs-center">
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-key-variant">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Find Your Property</h5>
                <p class="blurb-content">With lots of daily updated listings and properties, you can be sure to find the house of your dream in no time.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-sofa">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">View Apartments</h5>
                <p class="blurb-content">Real Estate has a wide range of apartments available for rent &amp; purchase throughout the USA, from budget to luxury ones.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-map-marker-multiple">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Various Locations</h5>
                <p class="blurb-content">Feel free to pick your future property using our location-based search, which also provides full information on each property.</p>
              </div>
            </div>
            <div class="cell-sm-6 cell-lg-3">
              <div class="blurb-image-icon">
                <div class="icon icon-hexagon-wrap mdi mdi-calculator">
                  <div class="icon-hexagon"></div>
                </div>
                <h5 class="blurb-title">Finance Calculator</h5>
                <p class="blurb-content">Not sure how much you can spend on a certain house? Don’t worry &amp; use our finance calculator to check your spendings!</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- About Us-->
      <section class="section">
        <div class="range range-xs-center">
          <div class="cell-sm-8 cell-lg-6">
            <div class="section-lg">
              <div class="shell-fluid">
                <div class="range range-xs-center">
                  <div class="cell-sm-10 cell-xl-8">
                    <h2>Quienes somos</h2>
                    <div class="divider divider-2"></div>
                    <p>El Fideicomiso Bahía de Zihuatanejo es un Fideicomiso Público del Gobierno del Estado de Guerrero, que le corresponde, llevar a cabo la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos, así como efectuar la venta de los lotes y fraccionamientos, buscando satisfacer los requerimientos de la población e inversionistas. Así mismo, contribuir al desarrollo de proyectos turísticos sustentables que detonen el crecimiento  de Zihuatanejo de Azueta; promoviendo la inversión, dando las facilidades de financiamiento para que la población y desarrolladores turísticos inviertan en el FIBAZI.</p><a class="button button-primary" href="/about">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-4 cell-lg-6 cell-vertical-align"><a class="mfp-link video-cover" style="background-image: url('images/video-preview-3.jpg');" data-lightbox="iframe" href="https://www.youtube.com/watch?v=vmvYU0zia1o"><span class="icon mdi mdi-play-circle-outline"></span></a>
          </div>
        </div>
      </section>

      <!-- Parallax section-->
      <section class="section parallax-container" data-parallax-img="images/parallax-1-1920x794.jpg">
        <div class="parallax-content section-lg context-dark">
          <div class="shell-wide">
            <div class="range range-xs-center range-xs-middle range-30">
              <div class="cell-sm-10 cell-lg-6">
                <h2>Te ofrecemos <span class="text-bold">lo que necesitas</span></h2>
                <h4>Comunicate con nosotros <span class="text-bold">Totalmente gratis</span> a <a href="tel:#">(755) 554 21 17 ETX. 101</a></h4>
              </div>
              <div class="cell-sm-10 cell-lg-2 text-lg-right"><a class="button button-lg button-white-outline button-white-outline-border" href="/contact">Contactanos</a></div>
            </div>
          </div>
        </div>
      </section>

      <!-- Hot Deals-->
      <section class="section section-lg bg-gray-lighter">
        <div class="shell-wide">
          <div class="range range-xs-center range-30 text-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Propiedades</h2>
              <div class="divider divider-3"></div>
              <p>We provide our clients with the best real estate deals. Browse some of our featured & hot properties below or browse our website for more offers.</p>
            </div>
          </div>
          <!-- Isotope Filters-->
          <div class="isotope-filters isotope-filters-horizontal">
            <button class="isotope-filters-toggle button button-sm button-primary" data-custom-toggle="#isotope-filters" data-custom-toggle-disable-on-blur="true"><span>Filter<span class="caret"></span></span></button>
            <ul class="isotope-filters-list isotope-filters-list-button" id="isotope-filters">
              <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">Todas</a></li>
              <li><a data-isotope-filter="Type 1" data-isotope-group="gallery" href="#">Diamante</a></li>
              <li><a data-isotope-filter="Type 2" data-isotope-group="gallery" href="#">Cima de Jesus</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Cuatro Horizontes</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Cuatro Horizontes</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Linda vista</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Ampliación la Joya</a></li>
              <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">loma del valle</a></li>

            </ul>
          </div>
          <!-- Isotope Content-->
          <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="*">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-1-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">New York</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Newly Built Condominium</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 7</p>
                    </li>
                    <li>
                      <p>Area: 1500.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 4</p>
                    </li>
                    <li>
                      <p>Parking spaces: 3</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$35.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 1">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-2-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">New York</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Renovated Family Home</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 2</p>
                    </li>
                    <li>
                      <p>Area: 1600.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 3</p>
                    </li>
                    <li>
                      <p>Parking spaces: 3</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$34.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 2">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-3-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">Chicago</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Villa Bastilicata Grande</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 5</p>
                    </li>
                    <li>
                      <p>Area: 1500.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 4</p>
                    </li>
                    <li>
                      <p>Parking spaces: 2</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$29.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 3">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-4-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">San Diego</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Le Marche Etna House</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 3</p>
                    </li>
                    <li>
                      <p>Area: 1300.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 3</p>
                    </li>
                    <li>
                      <p>Parking spaces: 2</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$35.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 1">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-5-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">San Francisco</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">A Beach House at California</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 6</p>
                    </li>
                    <li>
                      <p>Area: 1500.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 4</p>
                    </li>
                    <li>
                      <p>Parking spaces: 2</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$34.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 2">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-6-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">Chicago</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Villa Tuscany Maremma </a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 4</p>
                    </li>
                    <li>
                      <p>Area: 1700.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 3</p>
                    </li>
                    <li>
                      <p>Parking spaces: 3</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$35.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 3">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-7-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">San Diego</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Southern Lake Villa</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 8</p>
                    </li>
                    <li>
                      <p>Area: 1500.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 2</p>
                    </li>
                    <li>
                      <p>Parking spaces: 4</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$34.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 isotope-item" data-filter="Type 1">
              <div class="thumbnail-4">
                <div class="media-wrapper"><a href="single-deal.html"><img src="images/home-1-deal-8-420x290.jpg" alt="" width="420" height="290"/></a>
                  <div class="tag">New York</div>
                </div>
                <div class="content">
                  <h4 class="title"><a href="single-deal.html">Beachfront Villa Casa Aurora</a></h4>
                  <ul class="info">
                    <li>
                      <p>Bedrooms: 7</p>
                    </li>
                    <li>
                      <p>Area: 1200.00 m²</p>
                    </li>
                    <li>
                      <p>Bathrooms: 4</p>
                    </li>
                    <li>
                      <p>Parking spaces: 2</p>
                    </li>
                  </ul>
                  <ul class="box-bottom">
                    <li><span class="price">$35.00/month</span></li>
                    <li><a class="button button-primary button-sm" href="#">Buy this House</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Parallax section-->
      <section class="section parallax-container" data-parallax-img="images/parallax-2-1920x1013.jpg">
        <div class="parallax-content section-xl context-dark">
          <div class="shell-wide">
            <div class="range">
              <div class="cell-sm-12 cell-lg-5 cell-lg-preffix-2">
                <h2>Still Have <span class="text-bold">Questions?</span></h2>
                <h4>Feel Free to Contact Our Agents Directly</h4>
                <div class="divider divider-3"></div>
                <p>Our hand-selected agents are the best and brightest in the industry. With an average of more than ten years of experience, they are passionate about real estate. In each of our offices across the USA,  you are sure to find an agent who will help you find the dream property.</p><a class="button button-primary" href="#">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--Latest Blog Posts-->
      <section class="section section-lg bg-white">
        <div class="shell-wide">
          <div class="range range-xs-center range-30 text-center">
            <div class="cell-sm-12 cell-lg-10 cell-xl-6">
              <h2>Latest Blog Posts</h2>
              <div class="divider divider-2"></div>
            </div>
          </div>
          <div class="range range-xs-center range-50 range-lg-60">
            <div class="cell-sm-6 cell-lg-4">
              <article class="post-classic post-small">
                <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-1-570x370.jpg" alt="" width="570" height="370"/></a></div>
                <ul class="group group-sm post-meta-inline">
                  <li class="list-item">
                    <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-comment"></div><a href="blog-post.html">2 comments</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                  </li>
                </ul>
                <div class="content">
                  <h4 class="post-title"><a href="blog-post.html">Real Estate Guide: 7 Important Tips for Buying a Home</a></h4>
                  <div class="post-date">June 17, 2018 at 2:45 pm</div>
                  <p class="post-exeption">Buying a home can feel overwhelming and stressful, especially when sorting through pages of potential property listings, and prospective buyers may feel bogged down in questions about the home-buying process. Whether...</p>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <article class="post-classic post-small">
                <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-2-570x370.jpg" alt="" width="570" height="370"/></a></div>
                <ul class="group group-sm post-meta-inline">
                  <li class="list-item">
                    <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-comment"></div><a href="blog-post.html">12 comments</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                  </li>
                </ul>
                <div class="content">
                  <h4 class="post-title"><a href="blog-post.html">Single-Family Homes as a Housing Option</a></h4>
                  <div class="post-date">February 15, 2018 at 2:45 pm</div>
                  <p class="post-exeption">When it comes time to make your first real estate purchase, does it seem like a single family home would work better for your particular needs and lifestyle? What about the decision to buy or rent? It’s a hard question to...</p>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-lg-4">
              <article class="post-classic post-small">
                <div class="media-wrapper"><a href="blog-post.html"><img src="images/home-1-blog-3-570x370.jpg" alt="" width="570" height="370"/></a></div>
                <ul class="group group-sm post-meta-inline">
                  <li class="list-item">
                    <div class="icon mdi mdi-tag"></div><a class="post-tag" href="blog-post.html">News</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-comment"></div><a href="blog-post.html">12 comments</a>
                  </li>
                  <li class="list-item">
                    <div class="icon mdi mdi-account"></div><a href="blog-post.html">David Baker</a>
                  </li>
                </ul>
                <div class="content">
                  <h4 class="post-title"><a href="blog-post.html">Home Seller’s To-Do Checklist</a></h4>
                  <div class="post-date">February 15, 2018 at 2:45 pm</div>
                  <p class="post-exeption">Selling a home can be stressful for everyone involved. As real estate professionals, we typically forget that our clients have no idea what they are doing when they are preparing their home to sell. We assume they know...</p>
                </div>
              </article>
            </div>
            <div class="cell-sm-12 text-center"><a class="button button-primary" href="classic-blog.html">view all blog posts</a></div>
          </div>
        </div>
      </section>

      <!-- Counters-->
      <section class="section-lg text-center bg-gray-lighter">
        <div class="shell-wide">
          <div class="range range-xs-center range-lg-justify range-60">
            <div class="cell-xs-6 cell-lg-2">
                    <div class="counter-wrap">
                      <div class="heading-1"><span class="counter" data-step="3000">18</span></div>
                      <p class="title heading-5">Years of Experience</p>
                      <div class="divider divider-1"></div>
                    </div>
            </div>
            <div class="cell-xs-6 cell-lg-2">
                    <div class="counter-wrap">
                      <div class="heading-1"><span class="counter" data-step="2500">254</span></div>
                      <p class="title heading-5">Real Estate Agents</p>
                      <div class="divider divider-1"></div>
                    </div>
            </div>
            <div class="cell-xs-6 cell-lg-2">
                    <div class="counter-wrap">
                      <div class="heading-1"><span class="counter" data-step="1500">126</span></div>
                      <p class="title heading-5">Properties Sold Daily</p>
                      <div class="divider divider-1"></div>
                    </div>
            </div>
            <div class="cell-xs-6 cell-lg-2">
                    <div class="counter-wrap">
                      <div class="heading-1"><span class="counter" data-step="1300">6</span></div>
                      <p class="title heading-5">New Offices</p>
                      <div class="divider divider-1"></div>
                    </div>
            </div>
            <div class="cell-xs-6 cell-lg-2">
                    <div class="counter-wrap">
                      <div class="heading-1"><span class="counter" data-speed="1300">48</span><span class="counter-preffix">K</span></div>
                      <p class="title heading-5">Clients</p>
                      <div class="divider divider-1"></div>
                    </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer.html%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>