<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Lista de usuarios</title>
   <% include ../head/head.html%>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header>
        
      </header>
      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Lista de usuarios</h5>
                <h1 class="title">Panel administrativo</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="./">Inicio</a></li>
              <li><a href="/user">Crear usuario</a></li>
              <li><a href="/logout">Salir</a></li>
            </ol>
          </div>
        </div>
      </section>
      <!-- Color Header-->
      <section class="section section-lg bg-white text-center">
        <div class="shell">
          <h2>Lista de usuarios</h2>
          <div class="divider divider-2"></div>
          <div class="range range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div class="table-custom-wrap">
                <table class="table-custom table-primary table-fixed">
                  <tr>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                  </tr>
                  <% users.forEach(function(user){%>
                    <tr>
                      <td><%=user.nombre%></td>
                      <td><%=user.email%></td>
                      <td></td> 
                    </tr>
                  <%});%>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer.html%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <% include ../head/javascript.html%>
  </body>
</html>