<!DOCTYPE html>
<html class="wide smoothscroll wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>About us</title>
    <% include ../head/head %>
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <div class="cssload-loader">
              <div class="cssload-inner cssload-one"></div>
              <div class="cssload-inner cssload-two"></div>
              <div class="cssload-inner cssload-three"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <% include ../headers/header%>
      </header>

      <section class="section section-bredcrumbs">
        <div class="context-dark breadcrumb-wrapper bg-image-breadcrumbs-1">
          <div class="shell-wide">
            <div class="range range-center">
              <div class="cell-xxl-7">
                <h5>Investiga sobre Nosotros</h5>
                <h1 class="title">Antecedentes</h1>
                <div class="divider divider-3"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="breadcrumbs-custom">
          <div class="shell-wide">
            <ol class="breadcrumbs">
              <li><a href="./">Inicio</a></li>
              <li>Antecedentes</li>
            </ol>
          </div>
        </div>
      </section>
      <!--About Us-->
      <section class="section bg-white">
        <div class="range range-xs-center">
          <div class="cell-sm-10 cell-lg-7">
            <div class="section-lg">
              <div class="shell-fluid">
                <div class="range range-xs-center">
                  <div class="cell-sm-10 cell-xl-8">
                    <h2>Antecedentes</h2>
                    <div class="divider divider-2"></div>
                    <p>El Fideicomiso Bahía de Zihuatanejo, es un Fideicomiso Público del Gobierno del Estado de Guerrero, con personalidad jurídica y patrimonio propio; tiene como finalidad, dotar de infraestructura urbana, lotificación y fraccionamiento de terrenos fideicomitidos, así como efectuar la venta de lotes urbanizados para el desarrollo turístico e interés social. La administración de este Organismo, está a cargo de un Comité Técnico y de un Director General, conforme a lo establecido en el artículo 12 de la Ley Número 690 de Entidades Paraestatales del Estado de Guerrero.</p>
                    <div class="progress-linear progress-secondary">
                        
                      </div><a class="button button-primary" href="#">Leer mas</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="cell-sm-10 cell-lg-5 cell-image">
            <div class="cell-image-wrap"><img src="images/about-us-1-800x917.jpg" alt="" width="800" height="917"/>
            </div>
          </div>
        </div>
      </section>
      <br><br>
      <section class="section section-lg bg-white text-center">
        <div class="shell">
          <h2>Gobierno de Guerrero y FIBAZI</h2>
          <div class="divider divider-2"></div>
          <div class="range range-xs-center">
            <div class="cell-sm-10 cell-lg-8">
              <div class="table-custom-wrap">
                <table class="table-custom table-primary table-fixed">
                  <tr>
                    <th>Presidentes, Gobernadores</th>
                    <th>Directores de FIBAZI</th>
                    <th>Principales Acciones</th>
                  </tr>
                  <tr>
                    <td>(1978-1980)Ing. Rubén Figueroa Figueroa(1975-1981)</td>
                    <td>Lic. Jacques Payán Arq. Raúl Esponda </td>
                    <td>vialidades y la infraestructura.-Continúan Las negociaciones con los ejidatarios. -Se habilitan terrenos para. Nuevas colonias. -Se acumula la demanda de terrenos, se habla de 6000 solicitudes sin atender.</td></tr><tr><td>Cap. Jorge Bustos Aldana(1969-1971)Prof. Carintino Maldonado(1969-1971)</td>
                      <td>(Infratur Banco Mundial)</td><td>-Elaboración de Plan Maestro. -Aprobación de financiamiento del Banco Mundial .-Se delimitan los terrenos de FIBAZI.-Se comunica a los ejidatarios la expropiación.</td>
                    </tr>
                    <tr>
                      <td>C. Jorge Allec Galeana(1972-1974)Lic. Israel Nogueda Otero(1971-1975)</td>
                      <td>Equipo directivo:Lic. Armando Basurto Lic. Agustín Reynoso Ing. Juan BonillaC.P. Gerardo Hernández</td>
                      <td>-Ley Fed. De Fomento al Turismo y Creación de FONATUR  (Enero 28 de 1974).Creación de FIBAZI (Agosto 08 1974).-inician las obras de infraestructura.-Proceso de reordenamientos y regularización Indemnización a ejidatarios. -Inicia la venta de los lotes previstos en el Plan Maestro.-Se construye el Mercad Municipal.</td></tr><tr><td>G. Gumecindo García M.(1975-1977)</td>
                        <td>Lic. Agustín Reynoso</td>
                        <td>-Continúan las obras de infraestructura, el reordenamiento, la regularización, la indemnización y a la venta de terrenos.FIBAZI sigue ligado a FONATUR.-Inauguración del Mercado MUNICIPAL.-El IMSS comienza a funcionar.</td>
                      </tr>
                      <tr>
                        <td>Arq. Amando Federico Gonzales</td>
                        <td>Lic. Agustín Reynoso </td>
                        <td>-Se detiene la venta de terrenos y se priorizan las</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </section>

      <!-- Page Footer-->
      <footer>
        <% include ../footer/footer%>
      </footer>
    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>