#fb-root
  .fb-page-responsive
    .fb-page(data-href='https://www.facebook.com/TemplateMonster', data-tabs='timeline', data-height='500', data-width='500', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
      .fb-xfbml-parse-ignore
        blockquote(cite='https://www.facebook.com/TemplateMonster')
          a(href='https://www.facebook.com/TemplateMonster') TemplateMonster