h5 Gallery
.divider.divider-5
ul.aside-gallery(data-lightgallery="group")
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-1-130x130',
        imageOriginal: 'gallery-original-2-1200x800'
    })
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-2-130x130',
        imageOriginal: 'gallery-original-3-1200x800'
    })
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-3-130x130',
        imageOriginal: 'gallery-original-5-1200x800'
    })
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-4-130x130',
        imageOriginal: 'gallery-original-6-1200x800'
    })
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-5-130x130',
        imageOriginal: 'gallery-original-10-1200x800'
    })
  li
    +aside-gallery-item({
        imageName: 'aside-gallery-6-130x130',
        imageOriginal: 'gallery-original-7-1200x800'
    })