h4 Recent Posts
.divider.divider-5
+recent-post({
    imageName: "recent-post-1-160x100",
    title: "How not to Ruin Walls When Hanging Art",
    link: "single-post.html",
    date: "Dec 19, 2018 at 5:31 pm"
})

+recent-post({
    imageName: "recent-post-2-160x100",
    title: "Belgian Art & Design Trends: Valerie Traan Gallery",
    link: "single-post.html",
    date: "Dec 19, 2018 at 5:31 pm"
})

+recent-post({
    imageName: "recent-post-3-160x100",
    title: "Handmade Ceramics: A Stunning Collection",
    link: "single-post.html",
    date: "Dec 19, 2018 at 5:31 pm"
})