h5 Search
.divider.divider-5
form.rd-search.rd-blog-search.rd-search-form.rd-mailform-inline(action="search-results.html", method="GET", data-search-live="rd-search-results-live")
  .form-wrap
    label.form-label(for="rd-search-form-input" class="form-label") Search...
    input(class="form-input" id="rd-search-form-input" type="text" name="s" autocomplete="off")
  button.button.button-primary.button-sm(type="submit") Search