h4 Twitter Feed
.divider.divider-5
// RD Twitter Feed
.twitter(data-twitter-username='templatemonster' data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago")
  .tweet(data-twitter-type='tweet')
    .tweet-left
      .icon.fa-twitter
    .tweet-right
      .twitter-text.text-dark(data-tweet='text')
      .twitter-meta
        div.twitter-name(data-screen_name='text')

  .tweet(data-twitter-type='tweet')
    .tweet-left
      .icon.fa-twitter
    .tweet-right
      .twitter-text.text-dark(data-tweet='text')
      .twitter-meta
        div.twitter-name(data-screen_name='text')

  .tweet(data-twitter-type='tweet')
    .tweet-left
      .icon.fa-twitter
    .tweet-right
      .twitter-text.text-dark(data-tweet='text')
      .twitter-meta
        div.twitter-name(data-screen_name='text')

  .tweet(data-twitter-type='tweet')
    .tweet-left
      .icon.fa-twitter
    .tweet-right
      .twitter-text.text-dark(data-tweet='text')
      .twitter-meta
        div.twitter-name(data-screen_name='text')