<div class="range range-condensed range-flex">
          <div class="cell-sm-9">
            <div class="footer-wrapper footer-1">
              <div class="shell-fluid">
                <div class="range range-30 range-xl-120">
                  <div class="cell-sm-6 cell-lg-4">
                    <div class="width-wrap"><a class="brand-logo" href="index.html"><img src="images/brand-inverse-204x36.png" alt="" width="204" height="36"/></a></div>
                    <div class="width-wrap">
                      <p></p>
                    </div>
                  </div>
                  <div class="cell-sm-6 cell-lg-4">
                    <div class="width-wrap">
                      <h5>Contactanos</h5>
                      <div class="divider divider-5"></div>
                      <div class="contact-box">
                        <div class="contact-item">
                          <div class="contact-icon">
                            <div class="icon icon-xs mdi mdi-map-marker"></div>
                          </div>
                          <div class="contact-body">
                            <p><a href="#">Av. José María Morelos s/n Col. Centro</a></p>
                          </div>
                        </div>
                        <div class="contact-item">
                          <div class="contact-icon">
                            <div class="icon icon-xs mdi mdi-phone"></div>
                          </div>
                          <div class="contact-body"><a href="tel:#">(755) 554 21 17 EXT. 101</a>
                          </div>
                        </div>
                        <div class="contact-item">
                          <div class="contact-icon">
                            <div class="icon icon-xs mdi mdi-email"></div>
                          </div>
                          <div class="contact-body">
                            <p><a href="mailto:#">fibazi@guerrero.gob.mx</a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell-sm-12 cell-lg-4">
                    <div class="width-wrap">
                      <h5>Envianos tu correo</h5>
                      <div class="divider divider-5"></div>
                      <p>Por favor ingresa tu correo electronico y nos pondremos en contacto contigo</p>
                      <!-- RD Mailform-->
                      <form class="rd-mailform rd-mailform-inline form-small text-left" data-form-output="form-output-global" data-form-type="forms" method="post" action="bat/rd-mailform.php">
                        <div class="form-wrap">
                          <label class="form-label" for="inline-email-footer">Ingresa tu correo</label>
                          <input class="form-input" id="inline-email-footer" type="email" name="email" data-constraints="@Email @Required">
                        </div>
                        <button class="button button-primary" type="submit">Enviar</button>
                      </form>
                    </div>
                  </div>
                  <div class="cell-sm-12 cell-md-7 text-center text-md-left">
                    <p class="copyright">&#169; <span class="copyright-year"></span> All Rights Reserved <a class="link" href="privacy-policy.html">Terms of Use</a> and <a class="link" href="privacy-policy.html">Privacy Policy</a>
                    </p>
                  </div>
                  <div class="cell-sm-12 cell-md-5 text-center text-md-right">
                    <div class="width-wrap">
                      <ul class="list-inline">
                        <li><a class="icon icon-xs icon-dark-filled fa-facebook" target="_blank" href="https://www.facebook.com/FIBAZI/"></a></li>
                        <li><a class="icon icon-xs icon-dark-filled fa-twitter" target="_blank" href="https://www.twitter.com/fibazi"></a></li>
                        <li><a class="icon icon-xs icon-dark-filled fa-instagram" target="_blank" href="https://www.instagram.com/fibazi"></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>