extends  ../_skeleton

block variables
	- var pageName = '503'

block title
	title=pageName

block page
	section.section.one-screen-page.bg-construct-image-1.context-dark
		.one-screen-page-inner
			// Page Header
			header.section.page-header
				.rd-navbar-brand.brand
					a.brand-logo(href='index.html')
						+png(logoInverse)
			='\n'
			
			// Page Content
			section.section.page-content
				.shell
					.range.range-xs-center
						.cell-sm-10
							p.text-extra-large.page-title 503
							.divider.divider-2
							h1.page-subtitle Service Is Temporary Unavailable
							p.heading-5.page-description Sorry, we're offline right now to make our site even better. <br class="veil reveal-lg-inline">Please, come back later and check what we've been up to.
							.group-button-xl
								a.button.button-primary(href='index.html') Back to home page
								a.button.button-white-outline.button-white-outline-border(href='locations.html') Contact us
			='\n'
			
			// Page Footer
			footer.section.page-footer.text-center
				p.copyright
					=brandName
					= " "
					span.copyright-year
					= " "
					| &#169;
					= " "
					| All Rights Reserved
					= " "
					a.link(href='privacy-policy.html') Terms of Use
					= " "
					| and
					= " "
					a.link(href='privacy-policy.html') Privacy Policy