extends  ../_skeleton

block variables
	- var pageName = 'Fibazi'

block title
	title=pageName

block page
	section.section.one-screen-page.bg-construct-image-1.context-dark
		.one-screen-page-inner
			// Page Header
			header.section.page-header
				.rd-navbar-brand.brand
					a.brand-logo(href='/')
						+png(logoInverse)
			='\n'
			
			// Page Content
			section.section.page-content
				.shell
					.range.range-xs-center
						.cell-sm-10
							p.text-extra-large.page-title 503
							.divider.divider-2
							h1.page-subtitle Muy pronto estaremos contigo
							p.heading-5.page-description Pagina en desarrollo.
							.group-button-xl
								a.button.button-primary(href='#') Fibazi 
								a.button.button-white-outline.button-white-outline-border(href='#') Contactanos 
			='\n'
			
			// Page Footer
			footer.section.page-footer.text-center
				p.copyright
					=brandName
					= " "
					span.copyright-year
					= " "
					| &#169;
					= " "
					| All Rights Reserved
					= " "
					a.link(href='privacy-policy.html') Terms of Use
					= " "
					| and
					= " "
					a.link(href='privacy-policy.html') Privacy Policy