extends  ../_skeleton

//- Includes
include ../elements/_ui-progress-bar-linear
include ../sections/_misionVision

block variables
	- var activeCategory = 'Quienes somos'
	- var pageName = 'Quienes somos'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Conocenos", true,
	{
		0: {"title": "Inicio", "href": "/"},
		1: {"title": "Quienes somos", "href": "#"}
	}
	)
	='\n'
	
	//About Us
	section.section.bg-white
		.range.range-xs-center
			.cell-sm-10.cell-lg-7
				.section-lg
					.shell-fluid
						.range.range-xs-center
							.cell-sm-10.cell-xl-8
								h2 Quienes somos
								.divider.divider-2
								p El Fideicomiso Bahía de Zihuatanejo, es un Fideicomiso Público del Gobierno del Estado de Guerrero, con personalidad jurídica y patrimonio propio; tiene como finalidad, dotar de infraestructura urbana, lotificación y fraccionamiento de terrenos fideicomitidos, así como efectuar la venta de lotes urbanizados para el desarrollo turístico e interés social. La administración de este Organismo, está a cargo de un Comité Técnico y de un Director General, conforme a lo establecido en el artículo 12 de la Ley Número 690 de Entidades Paraestatales del Estado de Guerrero.
								
								a.button.button-primary(href="#") Learn more
			.cell-sm-10.cell-lg-5.cell-image
				.cell-image-wrap
					+jpg("about-us-1-800x917")

		section.section.section-lg.bg-white.text-center
				            
	='\n'
	
	//Advantages
	include ../sections/_advantages
	='\n'
	
	// Page Footer
	include ../sections/_footer-default