extends  ../_skeleton

//- Includes
include ../sections/_misionVision

block variables
	- var activeCategory = 'About'
	- var pageName = 'Misión y Visión'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Conoce nuestra labor", true,
	{
		1: {"title": "Fibazi", "href": "/"},
		2: {"title": pageName}
	}
	)
	='\n'
	
	//Testimonials
	+testimonials({
		classSection: 'bg-white'
	})
	='\n'


	section.section.section-demo.bg-gray-lighter
		.shell.shell-fluid
			h2 Objetivos Y Metas Iniciales
			.divider.divider-2
			p El Contrato  de Fideicomiso que venimos analizando le fija a NAFINSA los siguientes Fines 
			
			.range.range-30.text-center.text-lg-left
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "1",
						titleLink: "#",
						content: "Urbanizar , Lotificar y fraccionar los terrenos fideicomitidos."
					})
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "2",
						titleLink: "#",
						content: "Obtener financiamientos destinados a incrementar o mejorar los inmuebles de su patrimonio."
					})
				
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "3",
						titleLink: "#",
						content: "Amortizar los créditos que se obtuvieran y que se necesitaran, para el pago de las indemnizaciones a los ejidatarios afectados por la expropiación y el dinero que se les entrego como anticipo de utilidades. "
					})
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "4",
						titleLink: "#",
						content: "Vender o arrendar los lotes urbanizados y as construcciones que se realizaran sobre ellos. "
					})
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "5",
						titleLink: "#",
						content: " Formar empresas turificas y negocios conexos en los terrenos fideicomisitos, realizando en ellos las construcciones que estimara necesarias."
					})
				
				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "6",
						titleLink: "#",
						content: "Entregar a cada uno de los ejidatarios, con derecho a ello, los dos lotes tipo urbanizados, en la zona habitacional que resulte de la lotificación y urbanización de los terrenos fideicomitidos."
					})

				.cell-sm-4.text-center.text-md-left
					+blurb-left({
						iconClass: "mdi mdi-certificate",
						title: "7",
						titleLink: "#",
						content: "Poner a disposición del FONAFE y de los ejidatarios afectados, las utilidades netas que obtengan por le fraccionamiento y urbanización de los terrenos expropiados, según les corresponda, de conformidad a los expresados con anterioridad."
					})

			
	
	// Page Footer
	include ../sections/_footer-default