extends  ../_skeleton

//- Includes
include ../elements/_ui-pagination

block variables
	- var activeCategory = 'Deals'
	- var pageName = 'All Deals'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Best Properties", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": pageName}
	}
	)
	='\n'
	
	//Hot Deals
	section.section.section-lg.bg-white
		.shell-wide
			.range.range-xs-center.text-center
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Hot Deals
					.divider.divider-2
			.range.range-xs-center.range-30
				.cell-sm-12.cell-lg-9
					.range.range-xs-center.range-50.range-md-90
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-1-420x290",
								place: "San Diego",
								title: "Newly Built Condominium",
								link: "single-deal.html",
								exeption: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, accusamus nihil labore laborum aspernatur voluptates nostrum optio repellendus ab itaque vitae",
								price: "$34.00/month",
								priceOld: "$40.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 7"},
								{"opportunity": "2 Area: 1500.00 m²"},
								{"opportunity": "Bathrooms: 4"},
								{"opportunity": "Parking spaces: 3"}
							]
							)
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-2-420x290",
								place: "New York",
								title: "Renovated Family Home",
								link: "single-deal.html",
								exeption: "Voluptatum deserunt fugiat porro quisquam voluptatibus reprehenderit ducimus voluptate eligendi repellendus dolore, harum aliquid quia eveniet quas, mollitia",
								price: "$35.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 2"},
								{"opportunity": "2 Area: 1600.00 m²"},
								{"opportunity": "Bathrooms: 3"},
								{"opportunity": "Parking spaces: 3"}
							]
							)
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-3-420x290",
								place: "New York",
								title: "Villa Bastilicata Grande",
								link: "single-deal.html",
								exeption: "Ex cupiditate facere, asperiores, accusamus molestiae rerum dolore repellendus ad, et fuga voluptates quas labore magni natus provident cumque beatae",
								price: "$34.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 5"},
								{"opportunity": "3 Area: 1500.00 m²"},
								{"opportunity": "Bathrooms: 4"},
								{"opportunity": "Parking spaces: 2"}
							]
							)
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-4-420x290",
								place: "New York",
								title: "Le Marche Etna House",
								link: "single-deal.html",
								exeption: "Quasi, voluptatibus earum porro iste illum. Esse saepe delectus neque iste fugit, non, aliquid impedit odio eligendi alias a ab molestias molestiae accusantium",
								price: "$34.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 3"},
								{"opportunity": "2 Area: 1300.00 m²"},
								{"opportunity": "Bathrooms: 3"},
								{"opportunity": "Parking spaces: 1"}
							]
							)
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-5-420x290",
								place: "San Francisco",
								title: "California Beach House",
								link: "single-deal.html",
								exeption: "Officia provident doloremque eum. Repudiandae a ea non vitae animi, labore, voluptatibus laborum ipsam maxime explicabo alias asperiores perferendis facere.",
								price: "$35.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 6"},
								{"opportunity": "3 Area: 1500.00 m²"},
								{"opportunity": "Bathrooms: 4"},
								{"opportunity": "Parking spaces: 2"}
							]
							)
						.cell-sm-6.cell-lg-4
							+deal(
							{
								imageName: "deals-6-420x290",
								place: "San Diego",
								title: "Southern Lake Villa",
								link: "single-deal.html",
								exeption: "Laborum corrupti, doloremque, ut inventore, tempore consectetur esse saepe dignissimos doloribus consequuntur voluptas reiciendis hic minima obcaecati",
								price: "$34.00/month",
								bookLink: "#"
							},
							[
								{"opportunity": "Bedrooms: 8"},
								{"opportunity": "2 Area: 1500.00 m²"},
								{"opportunity": "Bathrooms: 2"},
								{"opportunity": "Parking spaces: 4"}
							]
							)
					
					a(href="#").button.button-primary-outline-2.button-block.button-large
						.icon.mdi.mdi-reload
					
					+pagination-bootstrap(null, 1, 4)
				
				.cell-sm-12.cell-lg-3
					.section-xs.inset-custom.bg-gray-lighter
						h4 Find Your Property
						// RD Mailform
						form.rd-mailform.text-left.form-aside
							.range.range-xs-center.range-19.range-bottom
								.cell-sm-6.cell-lg-12
									.form-wrap
										label.form-label.form-label-outside(for="select-country") State
										//Select 2
										select#select-country.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
											option(value="1") California
											option(value="2") New York
											option(value="3") Illinois
								.cell-sm-6.cell-lg-12
									.form-wrap
										label.form-label.form-label-outside(for="select-city") City
										//Select 2
										select#select-city.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
											option(value="1") San Francisco
											option(value="2") New York
											option(value="3") Chicago
								.cell-sm-6.cell-lg-12
									.form-wrap
										label.form-label.form-label-outside(for="select-location") Property Status
										//Select 2
										select#select-location.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
											option(value="1") Any
											option(value="2") Active
								.cell-sm-6.cell-lg-12
									.form-wrap
										label.form-label.form-label-outside(for="select-car-type") Property Type
										//Select 2
										select#select-car-type.form-control.select-filter(data-placeholder="Select an option", data-minimum-results-for-search="Infinity")
											option(value="1") Any
											option(value="2") Vacant Land
											option(value="3") Residential
											option(value="4") Commercial
								.cell-sm-3.cell-lg-12.cell-xl-6
									.form-wrap
										label.form-label.form-label-outside(for="select-price-1") Price (USD)
										input#select-price-1.form-control.select-filter.form-input.rd-range-input-value.rd-range-input-value-1(type='text', name='range-1')
								.cell-sm-3.cell-lg-12.cell-xl-6
									.form-wrap
										.divider.divider-7
										input#select-price-2.form-control.select-filter.form-input.rd-range-input-value.rd-range-input-value-2(type='text', name='range-2')
								
								.cell-sm-3.cell-lg-12.cell-xl-6
									.form-wrap
										label.form-label.form-label-outside(for="select-area-1") Area (Sq Ft)
										//Select 2
										input#select-area-1.form-control.select-filter.form-input.rd-range-input-value.rd-range-input-value-3(type='text', name='range-3')
										.rd-range(data-min='50', data-max='1000', data-start='[100, 600]', data-step='50', data-tooltip='true', data-min-diff='100', data-input='.rd-range-input-value-1', data-input-2='.rd-range-input-value-2')
								
								.cell-sm-3.cell-lg-12.cell-xl-6
									.form-wrap
										.divider.divider-7
										input#select-area-2.form-control.select-filter.form-input.rd-range-input-value.rd-range-input-value-4(type='text', name='range-4')
										.rd-range(data-min='750', data-max='3000', data-start='[1500, 2250]', data-step='50', data-tooltip='true', data-min-diff='100', data-input='.rd-range-input-value-3', data-input-2='.rd-range-input-value-4')
								
								.cell-sm-12.cell-lg-12.cell-xl-12
									.form-wrap
										label.checkbox-inline
											input(name="input-group-radio", value="checkbox-1", type="checkbox")
											| Map-based search
							.form-button
								button(type="submit").button.button-primary: span Search
	='\n'
	
	// Page Footer
	include ../sections/_footer-default