extends  ../_skeleton

//- Includes
include ../elements/_ui-table-custom

block variables
  - var activeCategory = 'Pages'
  - var pageName = 'Antecedentes'

block title
  title=pageName

block page
  // Page Header
  include ../sections/_header-default


  +breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Investiga sobre nosotros", true,
  {
    1: {"title": "Fibazi", "href": "/"},
    2: {"title": pageName}
  }
  )
  

  //About Us
  section.section.bg-white
    .range.range-xs-center
      .cell-sm-10.cell-lg-7
        .section-lg
          .shell-fluid
            .range.range-xs-center
              .cell-sm-10.cell-xl-8
                h2 Antecedentes
                .divider.divider-2
                p FIBAZI surge de la creación de un Fideicomiso establecido por el Banco de México en Nacional Financiera, para el desarrollo y la administración de los terrenos expropiados a los ejidos de Zihuatanejo, Agua de Correa y El Rincón bajo la orientación de FONATUR en representación de Nacional Financiera. Para poder mantener estas se estableció una oficina central y puntos estratégicos en las colonias existentes en esa época, también se contrato al personal necesario para todas las áreas que conformaban a FIBAZI, aunque todas las actividades eran bajo la tutela de FONATUR los trabajos tanto de regularización como de realización de las obras fueron quedando a cargo de un equipo de profesionistas diversos.

                p FIBAZI continuo bajo la tutela de FONATUR  hasta 1981 ya que mientras FONATUR se quedo con el desarrollo turístico de Ixtapa, FIBAZI se quedo con la zona popular de Zihuatanejo. Estas 2 dependencia trabajaron juntas por casi diez años sin embargo la situación de Zihuatanejo presentaba fuertes resistencias  de los tanto ejidatarios como pobladores en diversos asuntos entre los cuales se encuentran regularización así como realización de obras y por otro lado FONATUR tenia otros proyectos turísticos en Cancún  se tomo la decisión de separar las dos instituciones por completo para que así ambas se enfocaran en Metas.
                
                a.button.button-primary(href="#") Learn more
      .cell-sm-10.cell-lg-5.cell-image
        .cell-image-wrap
          +jpg("about-us-1-800x917")
  
    // Color Header
    section.section.section-lg.bg-white.text-center
      .shell
        h2 Gobierno de Guerrero y FIBAZI
        .divider.divider-2

        .range.range-xs-center
          .cell-sm-10.cell-lg-8
            +table-custom([
              ['Presidentes, Gobernadores', 'Directores de FIBAZI', 'Principales Acciones',],
              ['(1978-1980)Ing. Rubén Figueroa Figueroa(1975-1981)', 'Lic. Jacques Payán Arq. Raúl Esponda ', 'vialidades y la infraestructura.-Continúan Las negociaciones con los ejidatarios. -Se habilitan terrenos para. Nuevas colonias. -Se acumula la demanda de terrenos, se habla de 6000 solicitudes sin atender.'],
              ['Cap. Jorge Bustos Aldana(1969-1971)Prof. Carintino Maldonado(1969-1971)', '(Infratur Banco Mundial)', '-Elaboración de Plan Maestro. -Aprobación de financiamiento del Banco Mundial .-Se delimitan los terrenos de FIBAZI.-Se comunica a los ejidatarios la expropiación.'],
              ['C. Jorge Allec Galeana(1972-1974)Lic. Israel Nogueda Otero(1971-1975)', 'Equipo directivo:Lic. Armando Basurto Lic. Agustín Reynoso Ing. Juan BonillaC.P. Gerardo Hernández', '-Ley Fed. De Fomento al Turismo y Creación de FONATUR  (Enero 28 de 1974).Creación de FIBAZI (Agosto 08 1974).-inician las obras de infraestructura.-Proceso de reordenamientos y regularización Indemnización a ejidatarios. -Inicia la venta de los lotes previstos en el Plan Maestro.-Se construye el Mercad Municipal.'],
              ['G. Gumecindo García M.(1975-1977)', 'Lic. Agustín Reynoso', '-Continúan las obras de infraestructura, el reordenamiento, la regularización, la indemnización y a la venta de terrenos.FIBAZI sigue ligado a FONATUR.-Inauguración del Mercado MUNICIPAL.-El IMSS comienza a funcionar.'],
              ['Arq. Amando Federico Gonzales', 'Lic. Agustín Reynoso ', '-Se detiene la venta de terrenos y se priorizan las']],
            "table-primary table-fixed", true)



  // Page Footer
  include ../sections/_footer-default