extends  ../_skeleton

block variables
	- var activeCategory = 'Pages'
	- var pageName = 'Buttons'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Choose Your Style", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": "Pages", "href": "#"},
		2: {"title": pageName}
	}
	)
	
	// Buttons
	section.section.section-lg.bg-white.text-center
		.shell
			.range
				.cell-sm-12
					h2 Button Sizes
					.divider.divider-2
					.group-button-xl
						a(href="#").button.button-lg.button-primary: span.hover Large Size
						a(href="#").button.button-primary: span.hover Default size
						a(href="#").button.button-sm.button-primary: span.hover Small size
	
	section.section.section-lg.bg-white.text-center
		.shell
			.range
				.cell-sm-12
					h2 Button Shapes
					.divider.divider-2
					.group-button-xl
						a(href="#").button.button-primary: span.hover Default
						a(href="#").button.button-ellipse.button-primary: span.hover Round
						a(href="#").button.button-square.button-primary: span.hover Square
						a(href="#").button.button-circle.button-primary: span.hover Circle
	
	section.section.section-lg.bg-white.text-center
		.shell
			.range
				.cell-sm-12
					h2 Buttons with Icons
					.divider.divider-2
					.group-button-xl
						a(href="#").button.button-primary.button-icon.button-icon-right
							span.icon.mdi.mdi-arrow-right-bold
							span.hover
								| icon right
						
						a(href="#").button.button-primary.button-icon.button-icon-left
							span.icon.mdi.mdi-account
							span.hover
								| icon left
						
						a(href="#").button.button-primary-outline.button-icon.button-icon-right
							span.icon.mdi.mdi-arrow-right-bold
							span.hover
								| icon right
						
						a(href="#").button.button-primary-outline.button-icon.button-icon-left
							span.icon.mdi.mdi-account
							span.hover
								| icon left
	
	// Page Footer
	include ../sections/_footer-default