extends  ../_skeleton

block variables
	- var activeCategory = 'About'
	- var pageName = 'Careers'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Join Our Team", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": "About", "href": "#"},
		2: {"title": pageName}
	}
	)
	
	//A Few Words About Us
	section.section.bg-white
		.range.range-xs-center
			.cell-sm-10.cell-lg-6
				.section-lg
					.shell-fluid
						.range.range-xs-center
							.cell-sm-10.cell-xl-8
								h2 A Few Words About Us
								.divider.divider-2
								p Perferendis, assumenda earum mollitia necessitatibus ipsum fugit perspiciatis accusantium, quidem natus, voluptatibus rem excepturi quibusdam. Debitis in nihil, laborum voluptates autem mollitia esse laudantium, fuga saepe architecto nostrum fugit. Perspiciatis! Sint aut, nam quia aliquid saepe excepturi esse explicabo, tenetur perspiciatis praesentium, sed eius, soluta commodi ipsa nesciunt officiis.
								a.button.button-primary(href="about-us.html") Learn more
			.cell-sm-10.cell-lg-6.cell-image
				.cell-image-wrap
					+jpg("careers-1-945x588")
	
	//Your Career Starts Here
	section.section.section-lg.bg-gray-lighter
		.shell-wide
			.range.range-xs-center.range-30.text-center
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Your Career Starts Here
					.divider.divider-2
			.range.range-30.range-xs-center.range-flex
				.cell-sm-6.cell-lg-3
					+career({
						hot: true,
						iconWork: "mdi mdi-airplane",
						title: "Chief Financial Officer",
						description: "Perferendis, assumenda earum mollitia necessitatibus ipsum fugit perspiciatis accusantium, quidem natus, voluptatibus rem excepturi quibusdam.",
						workTime: "Full Time",
						workPlace: "San Diego"
					})
				.cell-sm-6.cell-lg-3
					+career({
						hot: true,
						iconWork: "mdi mdi-airplane",
						title: "Real Estate Agent",
						description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, accusamus nihil labore laborum aspernatur voluptates nostrum optio repellendus",
						workTime: "Full Time",
						workPlace: "San Diego"
					})
				.cell-sm-6.cell-lg-3
					+career({
						iconWork: "mdi mdi-laptop-chromebook",
						title: "Senior Property Manager",
						description: "Voluptatum deserunt fugiat porro quisquam voluptatibus reprehenderit ducimus voluptate eligendi repellendus dolore, harum aliquid quia eveniet",
						workTime: "Part Time",
						workPlace: "San Diego"
					})
				.cell-sm-6.cell-lg-3
					+career({
						hot: true,
						iconWork: "mdi mdi-airplane",
						title: "Customer Care Manager",
						description: "Ex cupiditate facere, asperiores, accusamus molestiae rerum dolore repellendus ad, et fuga voluptates quas labore magni natus provident cumque",
						workTime: "Full Time",
						workPlace: "San Diego"
					})
	// Page Footer
	include ../sections/_footer-default