extends  ../_skeleton

block variables
	- var activeCategory = 'Pages'
	- var pageName = 'Cobbles gallery'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Browse Our Gallery", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": "Pages", "href": "#"},
		2: {"title": pageName}
	}
	)
	
	//Grid gallery
	section.section.section-lg.bg-white
		// Isotope Filters
		.isotope-filters.isotope-filters-horizontal
			button.isotope-filters-toggle.button.button-sm.button-primary.mobile-inset(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true"): span Filter
				span.caret
			ul.isotope-filters-list.isotope-filters-list-button#isotope-filters
				li: a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') all properties
				li: a(data-isotope-filter='Type 1', data-isotope-group='gallery', href='#') residential
				li: a(data-isotope-filter='Type 2', data-isotope-group='gallery', href='#') commercial
				li: a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') land
		
		// Isotope Content
		.grid-1.isotope.isotope-fix(data-isotope-layout='masonry', data-isotope-group='gallery', data-lightgallery="group", data-column-class=".grid-item-20")
			.grid-item.grid-item-40.isotope-item(data-filter='*')
				+gallery-item({
					imageName: 'cobbles-gallery-1-768x540',
					imageOriginal: 'gallery-original-12-800x1200',
					title: 'Photo #1',
					titleLink: '#'
				})
			.grid-item.grid-item-20.isotope-item(data-filter='Type 1')
				+gallery-item({
					imageName: 'cobbles-gallery-2-384x270',
					imageOriginal: 'gallery-original-11-1200x800',
					title: 'Photo #2',
					titleLink: '#'
				})
			.grid-item.grid-item-40.isotope-item(data-filter='Type 2')
				+gallery-item({
					imageName: 'cobbles-gallery-3-768x270',
					imageOriginal: 'gallery-original-13-1200x800',
					title: 'Photo #3',
					titleLink: '#'
				})
			.grid-item.grid-item-40.isotope-item(data-filter='Type 3')
				+gallery-item({
					imageName: 'cobbles-gallery-4-768x540',
					imageOriginal: 'gallery-original-8-1200x800',
					title: 'Photo #4',
					titleLink: '#'
				})
			.grid-item.grid-item-20.isotope-item(data-filter='Type 1')
				+gallery-item({
					imageName: 'cobbles-gallery-5-384x270',
					imageOriginal: 'gallery-original-9-1200x800',
					title: 'Photo #5',
					titleLink: '#'
				})
			.grid-item.grid-item-20.isotope-item(data-filter='Type 2')
				+gallery-item({
					imageName: 'cobbles-gallery-6-384x270',
					imageOriginal: 'gallery-original-15-1200x800',
					title: 'Photo #6',
					titleLink: '#'
				})
			.grid-item.grid-item-20.isotope-item(data-filter='Type 3')
				+gallery-item({
					imageName: 'cobbles-gallery-7-384x270',
					imageOriginal: 'gallery-original-4-1200x800',
					title: 'Photo #7',
					titleLink: '#'
				})
			.grid-item.grid-item-20.isotope-item(data-filter='Type 1')
				+gallery-item({
					imageName: 'cobbles-gallery-8-384x270',
					imageOriginal: 'gallery-original-1-1200x800',
					title: 'Photo #8',
					titleLink: '#'
				})
	
	// Page Footer
	include ../sections/_footer-default