extends  ../_skeleton

block variables
	- var activeCategory = 'Contacts'
	- var pageName = 'Contacts'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "Contact Us", true,
	{
		0: {"title": "Home", "href": "/"},
		1: {"title": pageName}
	}
	)

	// Contacts
	section.section.section-lg.bg-white
		.shell.shell-wide
			.range.range-40.range-center
				.cell-sm-10.cell-md-8.cell-lg-7.cell-xl-6.cell-xl-preffix-1
					h2 Get in Touch
					.divider.divider-2
					p You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.
					// RD Mailform
					form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='forms', method='POST', action='/contact')
						.form-wrap.form-wrap-validation
							label.form-label.form-label-outside(for="forms-name-1") Nombre
							input#forms-name-1.form-input(type="text" name="name" data-constraints='@Required')
						.form-wrap.form-wrap-validation
							label.form-label.form-label-outside(for="forms-email-1") Correo
							input#forms-email-1.form-input(type="email" name="email" data-constraints="@Email @Required")
						.form-button
							button(type="submit").button.button-block.button-primary Enviar
	='\n'
	
	// Page Footer
	include ../sections/_footer-default