extends  ../_skeleton

//- Includes
include ../sections/_misionVision

block variables
	- var activeCategory = 'Home'
	- var pageClass = ''

block title
	title Home

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	
	//Jumbotron
	section.section.section-lg.section-custom.bg-image.bg-image-1
		.shell-wide
			.range.range-xs-center.range-40.range-xl-120
				.cell-sm-12.cell-lg-10.cell-xl-6
					.context-dark.text-center
						h3 More than 800.000 Houses Available
						h1.text-bold Find a Home to Suit Your Lifestyle
						.divider.divider-3
						p We are the leading real estate and rental website, where anyone can find a property to rent or buy. If you are looking for the best place to buy a house at an affordable price, we will be glad to help!
				.cell-sm-12.cell-lg-10.cell-xl-8.cell-xxl-8
					
						
	='\n'
	
	//Products
	section.section.section-lg.bg-gray-lighter
		.shell-wide
			.range.range-40.range-xs-center
				.cell-sm-6.cell-lg-3
					+blurb-image-icon({
						iconClass: 'mdi mdi-key-variant',
						title: "Find Your Property",
						content: "With lots of daily updated listings and properties, you can be sure to find the house of your dream in no time."
					})
				.cell-sm-6.cell-lg-3
					+blurb-image-icon({
						iconClass: 'mdi mdi-sofa',
						title: "View Apartments",
						content: "Real Estate has a wide range of apartments available for rent & purchase throughout the USA, from budget to luxury ones."
					})
				.cell-sm-6.cell-lg-3
					+blurb-image-icon({
						iconClass: 'mdi mdi-map-marker-multiple',
						title: "Various Locations",
						content: "Feel free to pick your future property using our location-based search, which also provides full information on each property."
					})
				.cell-sm-6.cell-lg-3
					+blurb-image-icon({
						iconClass: 'mdi mdi-calculator',
						title: "Finance Calculator",
						content: "Not sure how much you can spend on a certain house? Don’t worry & use our finance calculator to check your spendings!"
					})
	='\n'
	
	// About Us
	section.section
		.range.range-xs-center
			.cell-sm-8.cell-lg-6
				.section-lg
					.shell-fluid
						.range.range-xs-center
							.cell-sm-10.cell-xl-8
								h2 About Us
								.divider.divider-2
								p.big Real Estate is one of the biggest and the most reliable real estate agencies selling over 200,000 properties annually.
								p Operating since 1999, Real Estate is the number one real estate company in North America. For over a decade we have helped people make their housing dreams a reality, and we are here to help you find your ideal home. Our agency service is rich in integrity and common sense, high in customer satisfaction.
								a.button.button-primary(href="about-us.html") Learn More
			.cell-sm-4.cell-lg-6.cell-vertical-align
				+video-box({
					"background": "video-preview-3.jpg",
					"link": "https://www.youtube.com/watch?v=vmvYU0zia1o"
				})
	='\n'
	
	// Parallax section
	+parallax({
		img: "images/parallax-1-1920x794.jpg",
		addClass: "section-lg context-dark"
	})
		.shell-wide
			.range.range-xs-center.range-xs-middle.range-30
				.cell-sm-10.cell-lg-6
					h2 Offering a #[span.text-bold Superior Level] of Service
					h4 Call us for a #[span.text-bold Free Consultation] at #[a(href='tel:#') 855-456-7634]
				.cell-sm-10.cell-lg-2.text-lg-right
					a(href="#").button.button-lg.button-white-outline.button-white-outline-border contact us now
	='\n'
	
	// Hot Deals
	section.section.section-lg.bg-gray-lighter
		.shell-wide
			.range.range-xs-center.range-30.text-center
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Propiedades
					.divider.divider-3
					p We provide our clients with the best real estate deals. Browse some of our featured & hot properties below or browse our website for more offers.
			// Isotope Filters
			.isotope-filters.isotope-filters-horizontal
				button.isotope-filters-toggle.button.button-sm.button-primary(data-custom-toggle='#isotope-filters', data-custom-toggle-disable-on-blur="true"): span Filter
					span.caret
				ul.isotope-filters-list.isotope-filters-list-button#isotope-filters
					li
						a.active(data-isotope-filter='*', data-isotope-group='gallery', href='#') Todas
					li
						a(data-isotope-filter='Type 1', data-isotope-group='gallery', href='#') Diamante
					li
						a(data-isotope-filter='Type 2', data-isotope-group='gallery', href='#') Cima de jesus
					li
						a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Cuatro horizontes
					li
						a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Linda vista
					li
						a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Ampliación la joya
					li
						a(data-isotope-filter='Type 3', data-isotope-group='gallery', href='#') Lomas del valle

	
	
			// Isotope Content
			.row.row-30.isotope(data-isotope-layout='fitRows', data-isotope-group='gallery', data-lightgallery="group")
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='*')
					+deal-2(
					{
						imageName: "home-1-deal-1-420x290",
						place: "New York",
						title: "Newly Built Condominium",
						link: "single-deal.html",
						price: "$35.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 7"},
						{"opportunity": "Area: 1500.00 m²"},
						{"opportunity": "Bathrooms: 4"},
						{"opportunity": "Parking spaces: 3"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 1')
					+deal-2(
					{
						imageName: "home-1-deal-2-420x290",
						place: "New York",
						title: "Renovated Family Home",
						link: "single-deal.html",
						price: "$34.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 2"},
						{"opportunity": "Area: 1600.00 m²"},
						{"opportunity": "Bathrooms: 3"},
						{"opportunity": "Parking spaces: 3"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 2')
					+deal-2(
					{
						imageName: "home-1-deal-3-420x290",
						place: "Chicago",
						title: "Villa Bastilicata Grande",
						link: "single-deal.html",
						price: "$29.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 5"},
						{"opportunity": "Area: 1500.00 m²"},
						{"opportunity": "Bathrooms: 4"},
						{"opportunity": "Parking spaces: 2"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 3')
					+deal-2(
					{
						imageName: "home-1-deal-4-420x290",
						place: "San Diego",
						title: "Le Marche Etna House",
						link: "single-deal.html",
						price: "$35.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 3"},
						{"opportunity": "Area: 1300.00 m²"},
						{"opportunity": "Bathrooms: 3"},
						{"opportunity": "Parking spaces: 2"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 1')
					+deal-2(
					{
						imageName: "home-1-deal-5-420x290",
						place: "San Francisco",
						title: "A Beach House at California",
						link: "single-deal.html",
						price: "$34.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 6"},
						{"opportunity": "Area: 1500.00 m²"},
						{"opportunity": "Bathrooms: 4"},
						{"opportunity": "Parking spaces: 2"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 2')
					+deal-2(
					{
						imageName: "home-1-deal-6-420x290",
						place: "Chicago",
						title: "Villa Tuscany Maremma ",
						link: "single-deal.html",
						price: "$35.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 4"},
						{"opportunity": "Area: 1700.00 m²"},
						{"opportunity": "Bathrooms: 3"},
						{"opportunity": "Parking spaces: 3"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 3')
					+deal-2(
					{
						imageName: "home-1-deal-7-420x290",
						place: "San Diego",
						title: "Southern Lake Villa",
						link: "single-deal.html",
						price: "$34.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 8"},
						{"opportunity": "Area: 1500.00 m²"},
						{"opportunity": "Bathrooms: 2"},
						{"opportunity": "Parking spaces: 4"}
					]
					)
				.col-xs-12.col-sm-6.col-md-6.col-lg-3.isotope-item(data-filter='Type 1')
					+deal-2(
					{
						imageName: "home-1-deal-8-420x290",
						place: "New York",
						title: "Beachfront Villa Casa Aurora",
						link: "single-deal.html",
						price: "$35.00/month",
						bookLink: "#"
					},
					[
						{"opportunity": "Bedrooms: 7"},
						{"opportunity": "Area: 1200.00 m²"},
						{"opportunity": "Bathrooms: 4"},
						{"opportunity": "Parking spaces: 2"}
					]
					)
	='\n'
	
	//Advantages
	include ../sections/_advantages
	='\n'
	
	//Advantages
	section.section
		.range.range-xs-center.range-condensed
			.cell-sm-6.cell-lg-3
				+lightbox({
					bgImage: "home-1-center-1-480x350",
					place: "Boston",
					nameCenter: "Studio Apartments",
					link: "locations.html"
				})
			.cell-sm-6.cell-lg-3
				+lightbox({
					bgImage: "home-1-center-2-480x350",
					place: "Los Angeles",
					nameCenter: "Avis Villa",
					link: "locations.html"
				})
			.cell-sm-6.cell-lg-3
				+lightbox({
					bgImage: "home-1-center-3-480x350",
					place: "San Francisco",
					nameCenter: "Grand House",
					link: "locations.html"
				})
			.cell-sm-6.cell-lg-3
				+lightbox({
					bgImage: "home-1-center-4-480x350",
					place: "Chicago",
					nameCenter: "White Apartments",
					link: "locations.html"
				})
	='\n'
	
	//Testimonials
	+testimonials({
		classSection: 'bg-gray-lighter'
	})
	='\n'
	
	// Parallax section
	+parallax({
		img: "images/parallax-2-1920x1013.jpg",
		addClass: "section-xl context-dark"
	})
		.shell-wide
			.range
				.cell-sm-12.cell-lg-5.cell-lg-preffix-2
					h2 Still Have #[span.text-bold Questions?]
					h4 Feel Free to Contact Our Agents Directly
					.divider.divider-3
					p Our hand-selected agents are the best and brightest in the industry. With an average of more than ten years of experience, they are passionate about real estate. In each of our offices across the USA,  you are sure to find an agent who will help you find the dream property.
					a(href="#").button.button-primary Read more
	='\n'
	
	//Latest Blog Posts
	section.section.section-lg.bg-white
		.shell-wide
			.range.range-xs-center.range-30.text-center
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Latest Blog Posts
					.divider.divider-2
			.range.range-xs-center.range-50.range-lg-60
				.cell-sm-6.cell-lg-4
					+post-classic(
					{
						postClass: "post-small",
						imageName: "home-1-blog-1-570x370",
						title: "Real Estate Guide: 7 Important Tips for Buying a Home",
						link: "blog-post.html",
						exeption: "Buying a home can feel overwhelming and stressful, especially when sorting through pages of potential property listings, and prospective buyers may feel bogged down in questions about the home-buying process. Whether...",

						date: "June 17, 2018 at 2:45 pm",
						comment: "2 comments",
						commentLink: "blog-post.html",
						author: "David Baker",
						authorLink: "blog-post.html"
					},

					[{"title": "News", "href": "blog-post.html"}]
					)
				.cell-sm-6.cell-lg-4
					+post-classic(
					{
						postClass: "post-small",
						imageName: "home-1-blog-2-570x370",
						title: "Single-Family Homes as a Housing Option",
						link: "blog-post.html",
						exeption: "When it comes time to make your first real estate purchase, does it seem like a single family home would work better for your particular needs and lifestyle? What about the decision to buy or rent? It’s a hard question to...",

						date: "February 15, 2018 at 2:45 pm",
						comment: "12 comments",
						commentLink: "blog-post.html",
						author: "David Baker",
						authorLink: "blog-post.html"
					},

					[{"title": "News", "href": "blog-post.html"}]
					)
				.cell-sm-6.cell-lg-4
					+post-classic(
					{
						postClass: "post-small",
						imageName: "home-1-blog-3-570x370",
						title: "Home Seller’s To-Do Checklist",
						link: "blog-post.html",
						exeption: "Selling a home can be stressful for everyone involved. As real estate professionals, we typically forget that our clients have no idea what they are doing when they are preparing their home to sell. We assume they know...",

						date: "February 15, 2018 at 2:45 pm",
						comment: "12 comments",
						commentLink: "blog-post.html",
						author: "David Baker",
						authorLink: "blog-post.html"
					},

					[{"title": "News", "href": "blog-post.html"}]
					)
				.cell-sm-12.text-center
					a(href="classic-blog.html").button.button-primary view all blog posts
	='\n'
	
	// Counters
	include ../sections/_counters
	='\n'
	
	// Page Footer
	include ../sections/_footer-default

