extends  ../_skeleton

block variables
	- var activeCategory = 'Pages'
	- var pageName = 'Site map'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "All Pages of Our Website", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": "Pages", "href": "#"},
		2: {"title": pageName}
	}
	)
	
	section.section.section-lg.bg-white.regular-title-section
		.shell.shell-wide
			.range.range-50.range-xl-90
				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5: a(href="index.html") Home
						.divider.divider-5

				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5 About
						.divider.divider-5
						ul.list-marked.list-marked-default.offset-1
							li: a(href="about-us.html") About Us
							li: a(href="testimonials.html") Testimonials
							li: a(href="careers.html") Careers

				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5 Services
						.divider.divider-5
						ul.list-marked.list-marked-default.offset-1
							li: a(href="all-services.html") All Services
							li: a(href="single-service.html") Single service

				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5 Deals
						.divider.divider-5
						ul.list-marked.list-marked-default.offset-1
							li: a(href="all-deals.html") All Deals
							li: a(href="single-deal.html") Single Deal

				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5 News
						.divider.divider-5
						ul.list-marked.list-marked-default.offset-1
							li: a(href="classic-blog.html") Classic Blog
							li: a(href="blog-post.html") Blog Post

				.cell-sm-12.cell-md-9
					.custom-width-wrapper
						h5 Pages
						.divider.divider-5
						.range.offset-1
							.cell-sm-4
								ul.list-marked.list-marked-default
									li: a(href="typography.html") Typography
									li: a(href="buttons.html") Buttons
									li: a(href="forms.html") Forms
									li: a(href="progress-bars.html") Progress Bars
									li: a(href="tabs-and-accordions.html") Tabs & Accordions
									li: a(href="tables.html") Tables
									li: a(href="grid.html") Grid
							.cell-sm-4
								ul.list-marked.list-marked-default
									li: a(href="404-page.html") 404 Page
									li: a(href="503-page.html") 503 Page
									li: a(href="under-construction.html") Under Construction
									li: a(href="coming-soon.html") Coming Soon
									li: a(href="privacy-policy.html") Terms of Use
									li: a(href="search-results.html") Search Results
									li: a(href="faq.html") FAQ
							.cell-sm-4
								ul.list-marked.list-marked-default
									li: a(href="grid-gallery.html") Grid Gallery
									li: a(href="masonry-gallery.html") Masonry Gallery
									li: a(href="cobbles-gallery.html") Cobbles Gallery
	
				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5: a(href="locations.html") Locations
						.divider.divider-5
	
				.cell-sm-6.cell-md-3
					.custom-width-wrapper
						h5: a(href="contacts.html") Contacts
						.divider.divider-5
	
	// Page Footer
	include ../sections/_footer-default



