extends  ../_skeleton

//- Includes
include ../sections/_testimonials

block variables
	- var activeCategory = 'About'
	- var pageName = 'Testimonials'

block title
	title=pageName

block page
	// Page Header
	include ../sections/_header-default
	='\n'
	
	+breadcrumb-classic('bg-image-breadcrumbs-1', pageName, "What people say", true,
	{
		0: {"title": "Home", "href": "./"},
		1: {"title": "About", "href": "#"},
		2: {"title": pageName}
	}
	)
	='\n'
	
	//Testimonials
	+testimonials({
		classSection: 'bg-white'
	})
	='\n'
	
	// 3 Columns Layout
	section.section.section-lg.bg-gray-lighter
		.shell-wide.text-center
			h2 3 Column Layout
			.divider.divider-2
			// Owl Carousel
			.owl-carousel.owl-carousel-2(data-autoplay='true', data-items='1', data-md-items='3', data-dots='true' data-nav='false' data-stage-padding='17', data-loop='true', data-margin='30', data-mouse-drag="false")
				.owl-item
					+blockquote-custom({
						quote: "I have recently sold my rental property in Nelson via Real Estate. Everything about the sale was made seamless by your team. The communication was extremely good, you gave me great advice about what was necessary to expedite the sale and what wasn't. Thank you!",
						authorImg: "testimonials-1-95x95",
						authorName: "Walter Freeman",
						authorPosition: "Web Developer, San Francisco"
					})
				.owl-item
					+blockquote-custom({
						quote: "I have just bought an apartment in LA thanks to you and your agents. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future. I recommend Real Estate to everyone looking for a reliable real estate agency.",
						authorImg: "testimonials-2-95x95",
						authorName: "Christine Walters",
						authorPosition: "Designer, New York"
					})
				.owl-item
					+blockquote-custom({
						quote: "I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends. Thank you for the free gifts and bonuses, I was thrilled to receive them!",
						authorImg: "testimonials-3-95x95",
						authorName: "Roger Barrett",
						authorPosition: "Manager, Chicago"
					})
				.owl-item
					+blockquote-custom({
						quote: "I have recently sold my rental property in Nelson via Real Estate. Everything about the sale was made seamless by your team. The communication was extremely good, you gave me great advice about what was necessary to expedite the sale and what wasn't. Thank you!",
						authorImg: "testimonials-1-95x95",
						authorName: "Walter Freeman",
						authorPosition: "Web Developer, San Francisco"
					})
				.owl-item
					+blockquote-custom({
						quote: "I have just bought an apartment in LA thanks to you and your agents. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future. I recommend Real Estate to everyone looking for a reliable real estate agency.",
						authorImg: "testimonials-2-95x95",
						authorName: "Christine Walters",
						authorPosition: "Designer, New York"
					})
				.owl-item
					+blockquote-custom({
						quote: "I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends. Thank you for the free gifts and bonuses, I was thrilled to receive them!",
						authorImg: "testimonials-3-95x95",
						authorName: "Roger Barrett",
						authorPosition: "Manager, Chicago"
					})
				.owl-item
					+blockquote-custom({
						quote: "I have recently sold my rental property in Nelson via Real Estate. Everything about the sale was made seamless by your team. The communication was extremely good, you gave me great advice about what was necessary to expedite the sale and what wasn't. Thank you!",
						authorImg: "testimonials-1-95x95",
						authorName: "Walter Freeman",
						authorPosition: "Web Developer, San Francisco"
					})
				.owl-item
					+blockquote-custom({
						quote: "I have just bought an apartment in LA thanks to you and your agents. Everything went smooth and easy, the price was quite affordable, and I’m sure I will use your services again in the future. I recommend Real Estate to everyone looking for a reliable real estate agency.",
						authorImg: "testimonials-2-95x95",
						authorName: "Christine Walters",
						authorPosition: "Designer, New York"
					})
				.owl-item
					+blockquote-custom({
						quote: "I really appreciate your time and expertise in helping me find and buy my current home in Seattle, WA. Hope we can do business again in the future and I will recommend you to family and friends. Thank you for the free gifts and bonuses, I was thrilled to receive them!",
						authorImg: "testimonials-3-95x95",
						authorName: "Roger Barrett",
						authorPosition: "Manager, Chicago"
					})
	='\n'
	
	// Page Footer
	include ../sections/_footer-default