section.section.section-lg.bg-white
	.shell-wide
		.range.range-xs-center.range-30.text-center
			.cell-sm-12.cell-lg-10.cell-xl-6
				h2 Advantages
				.divider.divider-2
		.range.range-30.range-xs-center.range-flex
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-account-multiple",
					title: "Real Estate Careers",
					titleLink: "#",
					content: "We can give you an opportunity to start and develop your career in real estate business even if you have little or no experience in this sphere."
				})
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-city",
					title: "Special Offers",
					titleLink: "#",
					content: "Our agency has special offers available daily to all our clients at affordable prices. We also provide amazing discounts for some of our properties."
				})
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-certificate",
					title: "Stainless Reputation",
					titleLink: "#",
					content: "People trust us because of our perfect reputation and a great level of customer care and services we offer our clients in all states of the US."
				})