section.section.section-lg.bg-white
	.shell-wide
		.range.range-xs-center.range-30.text-center
			.cell-sm-12.cell-lg-10.cell-xl-6
				h2 Descubre que es Fibazi!
				.divider.divider-2
		.range.range-30.range-xs-center.range-flex
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-certificate",
					title: "Objetivos Institucionales",
					titleLink: "#",
					content: "Realizar la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos para elevar el nivel de bienestar de los habitantes de Zihuatanejo y cumplir con las finalidades encomendadas en el contrato del Fideicomiso; recuperando permanentemente la cartera crediticia derivada de las operaciones de compraventa e implantando herramientas administrativas como la planeación estratégica, mejora continua y tecnologías de vanguardia."
				})
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-certificate",
					title: "Decretos",
					titleLink: "#",
					content: "Decreto del 29 de noviembre 1972 expedido por el Ejecutivo Federal publicados en el Diario Oficial del 1 y 2 de febrero de 1973. Decreto del Ejecutivo Federal publicado en el Diario Oficial de la Federación del 29 de abril de 1992. Decreto por el que se aprueba El Plan Nacional de Desarrollo 2007-2012. Fecha de publicación en el D.O.F. del 31-05-2007. Decreto Número 981 de Presupuesto de Egresos del Estado de Guerrero para el Ejercicio Fiscal 2012. "
				})
			.cell-sm-6.cell-lg-4
				+blurb-boxed({
					iconClass: "mdi mdi-certificate",
					title: "Convenios",
					titleLink: "#",
					content: "Convenio Modificatorio del Contrato de Fideicomiso del 20 de abril de 1976. Convenio Modificatorio de la Cláusula Sexta del Contrato de Fideicomiso. 20 de Abril de 1976"
				})