//- Includes
include ../elements/_ui-counter

section.section-lg.text-center.bg-gray-lighter
	.shell-wide
		.range.range-xs-center.range-lg-justify.range-60
			.cell-xs-6.cell-lg-2
				+counter("Years of Experience", "", {
					"dataTo": "18",
					"dataSpeed": "3000",
					"attr": "heading-5"
				}, "heading-1")
			.cell-xs-6.cell-lg-2
				+counter("Real Estate Agents", "", {
					"dataTo": "254",
					"dataSpeed": "2500",
					"attr": "heading-5"
				}, "heading-1")
			.cell-xs-6.cell-lg-2
				+counter("Properties Sold Daily", "", {
					"dataTo": "126",
					"dataSpeed": "1500",
					"attr": "heading-5"
				}, "heading-1")
			.cell-xs-6.cell-lg-2
				+counter("New Offices", "", {
					"dataTo": "6",
					"dataSpeed": "1300",
					"attr": "heading-5"
				}, "heading-1")
			.cell-xs-6.cell-lg-2
				+counter("Clients", "", {
					"dataTo": "48",
					"dataSpeed": "1300",
					"preffix": "K",
					"preffixStyle": "",
					"attr": "heading-5"
				}, "heading-1")
