footer.footer-2
  .shell-wide
    .range.range-30.range-xl-120
      .cell-sm-4.cell-md-3
        .width-wrap
          h5 Contact Information
          .divider.divider-5
          p Real Estate is the largest full-service real estate company. We offer expertise in the marketing and sale of a wide range of properties, including residential real estate, farms and lifestyle blocks, as well as commercial and industrial properties.
      .cell-sm-3.cell-md-2
        .width-wrap
          h5 Quick Links
          .divider.divider-5
          ul.list-marked.list-marked-secondary
            li: a(href="#") Deals
            li: a(href="#") About
            li: a(href="#") Blog
            li: a(href="#") Contacts
      .cell-sm-5.cell-md-3
        .width-wrap
          h5 Contact Information
          .divider.divider-5
          +contact-box(
          {
            location: "Real Estate Inc. 9863 - 9867 Mill Road, Cambridge, MG09 99HT.",
            locationLink: "#"
          },
          [
            {phone: "1 800 123-45-56", phoneLink: "#"},
            {phone: "1 800 678-89-90", phoneLink: "#"}
          ]
          )
      .cell-sm-12.cell-md-4
        h5 Newsletter
        .divider.divider-5
        p Enter your email address to receive all news, updates on new properties, special offers and other discount information.
        // RD Mailform
        form.rd-mailform.rd-mailform-inline.text-left(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
          .form-wrap
            label.form-label(for="inline-email") Enter your e-mail
            input#inline-email.form-input(type="email" name="email" data-constraints="@Email @Required")
          button(type="submit").button.button-primary Subscribe
      .cell-sm-12.cell-md-7.text-center.text-md-left
        p.copyright
          =brandName
          = " "
          | &#169;
          = " "
          span.copyright-year
          = " "
          | All Rights Reserved
          = " "
          a.link(href='privacy-policy.html') Terms of Use
          = " "
          | and
          = " "
          a.link(href='privacy-policy.html') Privacy Policy
      .cell-sm-12.cell-md-5.text-center.text-md-right
        ul.list-inline
          li: a.icon.icon-xs.icon-dark-filled.fa-facebook(href="#")
          li: a.icon.icon-xs.icon-dark-filled.fa-google(href="#")
          li: a.icon.icon-xs.icon-dark-filled.fa-twitter(href="#")
          li: a.icon.icon-xs.icon-dark-filled.fa-linkedin(href="#")
          li: a.icon.icon-xs.icon-dark-filled.fa-instagram(href="#")
