footer
	.range.range-condensed.range-flex
		.cell-sm-9
			.footer-wrapper.footer-1
				.shell-fluid
					.range.range-30.range-xl-120
						.cell-sm-6.cell-lg-4
							.width-wrap
								a.brand-logo(href='index.html')
									+png(logoInverse)
							.width-wrap
								p Real Estate is the largest full-service real estate company. We offer expertise in the marketing and sale of a wide range of properties, including residential real estate, farms and lifestyle blocks, as well as commercial and industrial properties.
						.cell-sm-6.cell-lg-4
							.width-wrap
								h5 Contactanos
								.divider.divider-5
								+contact-box(
								{
									location: "Av. José María Morelos s/n Col. Centro",
									locationLink: "#",
									email: "fibazi@guerrero.gob.mx",
									emailLink: "#"
								},
								[
									{phone: "(755) 554 21 17 EXT. 101", phoneLink: "#"}
								]
								)
						.cell-sm-12.cell-lg-4
							.width-wrap
								h5 Newsletter
								.divider.divider-5
								p Enter your email address to receive all news, updates on new properties, special offers and other discount information.
								// RD Mailform
								form.rd-mailform.rd-mailform-inline.form-small.text-left(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
									.form-wrap
										label.form-label(for="inline-email-footer") Your e-mail
										input#inline-email-footer.form-input(type="email" name="email" data-constraints="@Email @Required")
									button(type="submit").button.button-primary Subscribe
						.cell-sm-12.cell-md-7.text-center.text-md-left
							p.copyright
								| &#169;
								= " "
								span.copyright-year
								= " "
								| All Rights Reserved
								= " "
								a.link(href='privacy-policy.html') Terms of Use
								= " "
								| and
								= " "
								a.link(href='privacy-policy.html') Privacy Policy
						.cell-sm-12.cell-md-5.text-center.text-md-right
							.width-wrap
								ul.list-inline
									li: a.icon.icon-xs.icon-dark-filled.fa-facebook(href="https://www.facebook.com/fibazi")
									li: a.icon.icon-xs.icon-dark-filled.fa-twitter(href="https://www.twitter.com/fibazi")
									li: a.icon.icon-xs.icon-dark-filled.fa-instagram(href="https://www.instagram.com/fibazi")
		.cell-sm-3
			
