-
	var rd_navbar_data_ajuster = {
	"data-sm-stick-up-offset": "1px",
	"data-md-stick-up-offset": "116px",
	"data-lg-stick-up-offset": "60px",
	"data-layout":             "rd-navbar-fixed",
	"data-sm-layout":          "rd-navbar-fixed",
	"data-md-layout":          'rd-navbar-fullwidth',
	"data-md-device-layout":   'rd-navbar-fullwidth',
	"data-lg-device-layout":   'rd-navbar-static',
	"data-lg-layout":          'rd-navbar-static',
	"data-sm-stick-up":        'true',
	"data-md-stick-up":        'true',
	"data-lg-stick-up":        'true' };

header.section.page-header
	// RD Navbar
	.rd-navbar-wrap
		nav.rd-navbar.rd-navbar-default&attributes( rd_navbar_data_ajuster )
			// RD Navbar Top Panel
			button.collapse-toggle( data-rd-navbar-toggle='.rd-navbar-top-panel' )
				span.toggle-icon
			.rd-navbar-outer.outer-1.rd-navbar-top-panel
				.rd-navbar-inner
					.rd-navbar-cell
						ul.navbar-inline-list
							li.rd-navbar-info
								.icon.mdi.mdi-login
								span
									a.link(href="#") Login
									=" "
							li.rd-navbar-info
								.icon.mdi.mdi-email-open
								a.link(href="mailto:#") info@demolink.org
							li.rd-navbar-info
								.icon.mdi.mdi-phone
								a.link(href="tel:#") 1-800-1234-567
							li.rd-navbar-info
								.icon.mdi.mdi-map-marker
								a.link(href="#") 9863 - 9867 Mill Road, Cambridge, MG09 99HT

					.rd-navbar-cell
						.rd-navbar-social
							a.link.fa.fa-facebook(href="#")
							a.link.fa.fa-google(href="#")
							a.link.fa.fa-twitter(href="#")
							a.link.fa.fa-linkedin(href="#")
							a.link.fa.fa-instagram(href="#")


			.rd-navbar-outer.outer-2
				.rd-navbar-inner

					// RD Navbar Panel
					.rd-navbar-cell.rd-navbar-panel
						// RD Navbar Toggle
						button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav'): span.toggle-icon
						// RD Navbar Brand
						a.rd-navbar-brand( href='./' )
							+png(logoDefault, "brand-normal")
							+png(logoInverse, "brand-mini")

					// RD Navbar Nav
					.rd-navbar-cell.rd-navbar-nav-wrap
						include ../_navigation

					// RD Navbar Panel Right
					
