mixin testimonials(obj)

	section.section.section-lg(class= obj.classSection)
		.shell-wide.text-center
			.range.range-xs-center.range-30
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Misión
					.divider.divider-2
			.range.range-xs-center
				.cell-sm-12.cell-lg-10.cell-xl-8
					p El Fideicomiso Bahía de Zihuatanejo es un Fideicomiso Público del Gobierno del Estado de Guerrero, que le corresponde, llevar a cabo la urbanización, lotificación y fraccionamiento de los terrenos fideicomitidos, así como efectuar la venta de los lotes y fraccionamientos, buscando satisfacer los requerimientos de la población e inversionistas. Así mismo, contribuir al desarrollo de proyectos turísticos sustentables que detonen el crecimiento de Zihuatanejo de Azueta; promoviendo la inversión, dando las facilidades de financiamiento para que la población y desarrolladores turísticos inviertan en el FIBAZI.

	section.section.section-lg(class= obj.classSection)
		.shell-wide.text-center
			.range.range-xs-center.range-30
				.cell-sm-12.cell-lg-10.cell-xl-6
					h2 Visión
					.divider.divider-2
			.range.range-xs-center
				.cell-sm-12.cell-lg-10.cell-xl-8
					p Ser un Organismo que mejore continuamente su desempeño y eficacia, diseñando estrategias innovadoras, encaminadas a operar con tecnología de vanguardia; satisfaciendo los requerimientos de infraestructura urbana sustentable en los terrenos fideicomitidos. Con base en el compromiso, disponibilidad y responsabilidad, el fideicomiso habrá cumplido con la finalidad de su creación.