+post-classic(
{
	imageName: "news-1-870x565",
	title: "Real Estate Guide: 7 Important Tips for Buying a Home",
	link: "blog-post.html",
	exeption: "Mollitia voluptatum repellat voluptate ea, quos deleniti fuga dolor consectetur, eligendi fugiat doloribus sequi reprehenderit corrupti assumenda voluptates ullam, ipsam at quod repudiandae nam cupiditate soluta quidem provident...",

	date: "June 17, 2018 at 2:45 pm",
	comment: "2 comments",
	commentLink: "blog-post.html",
	author: "David Baker",
	authorLink: "blog-post.html"
},

[{"title": "News", "href": "blog-post.html"}]
)

+post-classic(
{
	imageName: "news-2-870x565",
	title: "Single-Family Homes as a Housing Option",
	link: "blog-post.html",
	exeption: "Quod voluptates magnam explicabo veritatis, accusamus sapiente sunt repellendus dicta, nostrum ea praesentium aut obcaecati quae laborum quasi esse consequuntur, commodi at maiores ullam molestias dolorum. Assumenda...",

	date: "February 15, 2018 at 2:45 pm",
	comment: "2 comments",
	commentLink: "blog-post.html",
	author: "David Baker",
	authorLink: "blog-post.html"
},

[{"title": "News", "href": "blog-post.html"}]
)

+post-classic(
{
	imageName: "news-3-870x565",
	title: "Home Seller’s To-Do Checklist",
	link: "blog-post.html",
	exeption: "Eius et, officiis exercitationem! Laudantium voluptatibus blanditiis, maiores assumenda nostrum hic expedita eaque voluptates, exercitationem dolores error. Tempore veritatis nobis quis eveniet eos cupiditate, libero obcaecati...",

	date: "February 15, 2018 at 2:45 pm",
	comment: "2 comments",
	commentLink: "blog-post.html",
	author: "David Baker",
	authorLink: "blog-post.html"
},

[{"title": "News", "href": "blog-post.html"}]
)

a(href="#").button.button-primary-outline-2.button-block.button-large
	.icon.mdi.mdi-reload

+pagination-bootstrap(null, 1, 4)